$grey-background: #1e1e1c;
$placeholder-color: $primary-link-color;

html {
  height: 100%;
}

#global-search.show-results {
  header {
    #search-field-label {
      .mobile{
        @extend %offscreen;
      }
    }
    .search-field-results {
      @include susy-breakpoint($screen-sm, $susy) {
        display: none;
      }
      display: block;
    }
  }
  .column {
    display: block;
  }
}

.mfp-wrap.mfp-auto-cursor .mfp-close {
  top: 4rem;
  right: 4rem;
  color: $primary-link-color;
  background-color: transparent;
  position: absolute;

  &:before {
    font-size: 3.5rem;
  }
}

.search-meta {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.4em;
  display: block;
  @include Equinor-Bold;
  &.no-results {
    display: none;
    line-height: 1;
  }
  .show-all {
    color: $primary-color;
    text-transform: uppercase;
    &.few-results {
      display: none;
    }
    cursor: pointer;
    float: right;
    .less {
      display: none;
    }
    &.active {
      .less {
        display: inline;
      }
      .more {
        display: none;
      }
    }
  }
  @include susy-breakpoint($screen-sm, $susy) {
    display: none;
  }
}

.loading-indicator-wrapper {
  display: block;
  height: 3rem;
  text-align: center;

  @include susy-breakpoint($screen-lg, $susy) {
    display: inline;
  }

  .loading-indicator {
    @include susy-breakpoint($screen-xs, $susy) {
      display: none;
      font-size: 2rem;
      text-align: center;
      color: $primary-color;
    }
  }
}

#global-search {

  & > header {
    position: relative;
    margin-bottom: 3rem;
    input::-ms-clear {
      display: none; // to clear X for edge
    }

    background-color: $primary-color-light;
    @include susy-breakpoint($screen-lg, $susy) {
      margin-left: 6%;
      margin-top: 2rem;
      margin-right: 6%;
      margin-bottom: 0rem;
    }
    display: block;
  }

  .splitter {
    margin: 2rem 0rem 2rem 0rem;
    border: 0;
    height: 1px;
    background: $primary-link-color;
    display: none;
    @include susy-breakpoint($screen-sm, $susy) {
      display: block;
    }
  }
   .hits {
     line-height: 1.5rem;
   }

  @include Equinor-Medium;
  color: $grey-background;

  @include susy-breakpoint($screen-sm, $susy) {
    color: #FFF;
  }

  #search-field {
    @include Equinor-Medium;
    width: 100%;
    color: $primary-color;
    font-size: 4rem;
    margin-top: 3rem;
    text-align: center;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;

    @include susy-breakpoint($screen-lg, $susy) {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
          text-indent: 3rem;
          width: auto;
          text-align: left;
          width: auto;
        }

    &:focus {
      outline: none;
      outline-width: 0;
    }

    &::-webkit-input-placeholder {font-family: $default-font-family; color: $placeholder-color; }
    &:-moz-placeholder {font-family: $default-font-family; color: $placeholder-color; }
    &::-moz-placeholder {font-family: $default-font-family; color: $placeholder-color; }
    &:-ms-input-placeholder {font-family: $default-font-family; color: $placeholder-color; }
  }

  #search-field-label {
    width: 100%;
    display: block;
    text-align: center;
    @include Equinor-Bold;
    color: $primary-link-color;
    font-size: 1.5em;
    .desktop{
        display: none;
    }
    @include susy-breakpoint($screen-lg, $susy) {
        width: auto;
        text-align: right;
        float: right;
        padding-right: 1.5rem;
        margin-top: 3rem;
        width: auto;
        .mobile {
            display: none;
        }
        .desktop{
            display: block;
        }
    }
  }

  .search-field-results {
    width: 100%;
    display: none;
    text-align: center;
    @include Equinor-Bold;
    color: $primary-link-color;
    font-size: 1.5em;
    margin-top: 0;

    @include susy-breakpoint($screen-sm, $susy) {
      display: none;
    }
  }

@include susy-breakpoint($screen-sm, $susy) {
  #site.column{
        padding-left: 4%;
            }

  #news.column{
         padding-right: 4%;
            }
  }
  .column {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-sizing: border-box;
    display: none;

    > h2 {
      @include Equinor-Bold;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.7rem;
      border-bottom: 1px solid $primary-link-color;
      display: none;
      color: $primary-link-color;
      .result {
        &:before {
          content: ' (';
        }
        &:after {
          content: ')';
        }
      }
      @include susy-breakpoint($screen-sm, $susy) {
        display: block;
      }
    }

    @include susy-breakpoint($screen-sm, $susy) {
      margin-left: 2%;
      margin-right: 2%;
      width: 46%;
      float: left;
      display: inline;
      margin-top: 0;
    }
  }

  .results-container {
    overflow: auto;
    background-color: $blue-light;
    margin-bottom: 20px;

    &::-webkit-scrollbar {
      background: transparent;
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: $primary-link-color;
      border-radius: 6px;
    }

    // IE scrollbar colors
    scrollbar-base-color: $blue-light;
    scrollbar-face-color: $primary-link-color;
    scrollbar-3dlight-color: $primary-link-color;
    scrollbar-highlight-color: $primary-link-color;
    scrollbar-track-color: $blue-light;
    scrollbar-arrow-color: $primary-link-color;
    scrollbar-shadow-color: $primary-link-color;
    scrollbar-dark-shadow-color: $primary-link-color;
    @include susy-breakpoint($screen-sm, $susy) {
      height: calc(100vh - 25rem);
      overflow-y: auto;
    }

    a {
      @include Equinor-Medium;
      font-size: 1.6rem;
      line-height: 2.2rem;
      text-decoration: none;
      border-bottom: none;
      color: $primary-link-color;
    }

    &.show-all {
      article:nth-child(n+4) {
        display: block;
      }
    }

    .no-result {
      width: 100%;
      margin-bottom: 2rem;
      box-sizing: border-box;
      padding: 5% 5% 5% 5%;
      font-size: 1.6rem;
      line-height: 1;
      text-align: center;
      display: none;
      @include Equinor-Bold;
      color: $primary-link-color;
      @include susy-breakpoint($screen-sm, $susy) {
        display: block;
      }
    }

    article {

      header {
        margin: 0;
      }

      &:nth-child(n+4) {
        display: none;
        @include susy-breakpoint($screen-sm, $susy) {
          display: block;
        }
      }

      width: 100%;
      margin-bottom: 2rem;
      box-sizing: border-box;
      padding: 2% 5% 2% 5%;
      font-size: 1.7rem;
      line-height: 1.9rem;
      text-align: left;

      @include susy-breakpoint($screen-sm, $susy) { margin-bottom: 0; }

      &.vacancy, &.article {

        text-align: left;

        a {
          color: $primary-link-color;
        }

        .date {
          font-size: 1.3rem;
          @include Equinor-Bold;
          color: $primary-link-color;
          margin: 0;
          text-transform: uppercase;
        }

        h3 {
          margin: 0.5rem 0 0.5rem 0;
           @include susy-breakpoint($screen-sm, $susy) {
              font-size: 2rem;
              line-height: 2.2rem;
              }
        }
      }

      &.site {
        font-size: 1.3rem;
        img { width: 100%; }
        @include susy-breakpoint($screen-sm, $susy) {
                    h3{
                      font-size: 2rem;
                      line-height: 2.2rem;
                      }
             }
      }

      @include susy-breakpoint($screen-sm, $susy) {
        background-color: transparent;
        text-align: center;
      }

    }
  }
  .results-container:not(.show-all) .loadmore {
    display:none;
  }
  @include susy-breakpoint($screen-sm, $susy) {
    .results-container:not(.show-all) .loadmore.show {
      display: inline-block;
    }
  }

  .loadmore-container {
    text-align: center;

    .loadmore {
      margin-bottom: 1.5rem;
      display: none;
      cursor: pointer;
      display:inline-block;
      font-size: 4rem;
      transition: transform .3s;
      &:hover {
        transform: scale(1.1);
      }

      &.btn{
        font-size: 12px;
        padding: 8px 22px;
        cursor: pointer;
      }
    }
  }
}

.search {
  width: 100%;
  align-self: center;
  padding: 0.8rem 1em;
  height: 4.2rem;
  margin: 0 0 2rem 0;
  border: 1px solid #DDD;
  border-radius: 2px;
  -webkit-appearance: none; // Remove shadow on iOS
}