// a common slider
  .slider{
    overflow-x: auto;
    overflow-y: hidden;
    width: inherit;
    scroll-snap-type: x mandatory;

    /// scrollbar styling
    	&::-webkit-scrollbar {
          background: transparent;
          height: 4px;
        }
        &::-webkit-scrollbar-thumb {
          background: $primary-link-color;
          border-radius: 6px;
        }

        // IE scrollbar colors
            scrollbar-base-color: $blue-light;
            scrollbar-face-color: $primary-link-color;
            scrollbar-3dlight-color: $primary-link-color;
            scrollbar-highlight-color: $primary-link-color;
            scrollbar-track-color: $blue-light;
            scrollbar-arrow-color: $primary-link-color;
            scrollbar-shadow-color: $primary-link-color;
            scrollbar-dark-shadow-color: $primary-link-color;

            // padding between each list item and the slider
        @include susy-breakpoint(0 $screen-sm, $susy) {
            &>li, &>.calendar-item{
                margin-bottom: 10px;
                scroll-snap-align: start;
            }
            &>.parsys_column{
                scroll-snap-align: start;
            }
        }
  }

   .colctrl-2c,
   .colctrl-3c,
   .colctrl-4c,
   .colctrl-5c,
   .colctrl-7c,
   .colctrl-2c-wideleft,
   .colctrl-2c-wideright,
   .cq-colctrl-default {

      &.primary-100,
      &.slate-blue,
      &.heritage-red {
        .slider {
          &::-webkit-scrollbar-thumb {
                   background: $white;
                   }
            }
        }
      }