//  Framework Susy Grid
//  http://susydocs.oddbird.net/
@import 'modules/normalize';

@import '../../node_modules/susy/sass/susy';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';

//  Core library
@import 'core/susy-grid';
@import 'core/core-component-container';
@import 'core/core-colors';
@import 'core/core-accessibility';
@import 'core/core-font';
@import 'core/core-typography';
@import 'core/core-variables';
@import 'core/core-helpers';
@import 'core/core';

//  Framework  Fontawesome
//  4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
//  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
@import 'frameworks/fontawesome/variables';
@import 'frameworks/fontawesome/mixins';
@import 'frameworks/fontawesome/path';
@import 'frameworks/fontawesome/core';
@import 'frameworks/fontawesome/larger';
@import 'frameworks/fontawesome/fixed-width';
@import 'frameworks/fontawesome/list';
@import 'frameworks/fontawesome/bordered-pulled';
@import 'frameworks/fontawesome/animated';
@import 'frameworks/fontawesome/rotated-flipped';
@import 'frameworks/fontawesome/stacked';
@import 'frameworks/fontawesome/icons';
@import 'frameworks/magnifier-popup/magnifier-popup';
@import 'frameworks/magnifier-popup/fade';
@import 'frameworks/magnifier-popup/slide';

//Animation
@import "animation/core";
@import 'animation/custom/blur';


//  Templates
@import 'templates/front-page';
@import 'templates/magazine-article-page';
@import 'templates/magazine-page';
@import 'templates/newsroom-page';
@import 'templates/mfp';
@import 'templates/news-page';
@import 'templates/newsroom-page';
@import 'templates/panel-page';
@import 'templates/panel-page-inverted';
@import 'templates/section-page';
@import 'templates/topic-page';

//  Core elements
@import 'elements/list';
@import 'elements/img';
@import 'elements/table';
@import 'elements/forms';
@import 'elements/dropdowns';
@import 'elements/button';


//  Components
@import 'components/dynamic-media';
@import 'components/navigation';
@import 'components/navigation-search-and-language';
@import 'components/image';
@import 'components/button';
@import 'components/banner-top';
@import 'components/text';
@import 'components/banner';
@import 'components/list';
@import 'components/list-tiles';
@import 'components/preamble';
@import 'components/video';
@import 'components/svgicon';
@import 'components/title';
@import 'components/carousel';
@import 'components/mainnumbers';
@import 'components/stock-holder';
@import 'components/adaptiveimages';
@import 'components/date';
@import 'components/colctrl';
@import 'components/factbox';
@import 'components/organization-chart.scss';
@import 'components/iframe';
@import 'components/footer';
@import 'components/table';
@import 'components/divider';
@import 'components/imagetiles';
@import 'components/latestnews';
@import 'components/magazine-list';
@import 'components/visual-list';
@import 'components/horisontal-bar';
@import 'components/remit-table';
@import 'components/progress-button.scss';
@import 'components/accordion';
@import 'components/in-page-nav';
@import 'components/calendar';
@import 'components/calendar-tiles';
@import 'components/statoilforms';
@import 'components/core-accordion';
@import 'components/basic-accordion';
@import 'components/quicklist';
@import 'components/tablev2';
@import 'components/newsroomlistv2';
@import 'components/site-switch';
@import 'components/tabs';

//  Modules
@import 'modules/textimage';
@import 'modules/search';
@import 'modules/google-recaptcha';
@import 'modules/foundation-datepicker';
@import 'modules/custom-foundation-datepicker';
@import 'modules/slick';
@import 'modules/slick-theme';
@import 'modules/cookiebot';
@import 'modules/cookiebot-consent-container';
@import 'modules/aos';
@import 'modules/slider';



// Archive
@import 'archive/news';
