shared-workspace-lockfile = false
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*
ignore-scripts=true
provenance=true
#still have it in pnpm workspace.yaml, but need to exclude next sanity13 to test its new features. npm does not have a whitelist. Will put this back on in a week
#min-release-age=7d