#CybotCookiebotDialog a,
#CybotCookiebotDialog div,
#CybotCookiebotDialogBodyContentControls,
#CybotCookiebotDialogBodyContentTitle {
  font-family: Equinor !important;
}

#CybotCookiebotDialogHeader {
  @apply hidden !important;
}
