#CybotCookiebotDialog a,
#CybotCookiebotDialog div,
#CybotCookiebotDialogBodyContentControls,
#CybotCookiebotDialogBodyContentTitle {
  font-family: Equinor !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll:hover {
  @apply bg-moss-green-60 !important;
}

#CybotCookiebotDialogHeader {
  @apply hidden !important;
}
