footer.reinvent-footer {
  width: 100%;
  clear: both;
  max-width: 100%;

  section.footer-social {

    background-color: $primary-link-color;
    color: $white;
    text-align: center;
    padding: 0 3rem;
    padding-top: 5rem;

    h2 {
      padding-bottom: 2rem;
      margin-top: 0;
    }

    ul.social-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      @include susy-breakpoint($screen-xs, $susy) { padding: 0 20% 2rem 20%; }
      @include susy-breakpoint($screen-s, $susy) { padding: 0 0 3rem 0; }
      margin: 0;
      list-style-type: none;

      li {
        padding: 0;
        margin-bottom: 2rem;
        display: inline-block;

        a {
          text-decoration: none;
          display: block;
          background-color: $white;
          color: $primary-link-color;
          font-size: 2.5rem;
          text-align: center;
          border-radius: 4rem;
          margin-right: 1rem;
          margin-left: 1rem;
          width: 4rem;
          height: 4rem;
          line-height: 4.2rem;
          @include susy-breakpoint($screen-sm, $susy) {
            height: 5.5rem;
            line-height: 5.8rem;
            width: 5.5rem;
            font-size: 3.5rem;
          }

          // Hide text from view, but make it accessible for screen readers
          span.link-description {
            @extend %offscreen;
          }
        }
      }
    }
  }

  section.footer-bottom {
    background-color: $white;
    color: $primary-link-color;

    @include susy-breakpoint($screen-sm, $susy) {
      position: relative;
      text-align: center;
    }

    .footer-links {
      padding: 3rem 0;
      margin: 0;
      list-style-type: none;
      width: 49%;
      display: inline-block;
      text-align: center;
      vertical-align: top;

      @include susy-breakpoint($screen-sm, $susy) {
        width: auto;
        padding: 0rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
      }

      li {
        padding-bottom: 2rem;

        @include susy-breakpoint($screen-sm, $susy) {
          float: left;
          margin: 1rem;
          padding-bottom: 0;
        }

        a {
          color: $primary-link-color;
          text-decoration: none;
          line-height: 4rem;
        }
      }
    }

    .copyright {
      width: 100%;
      text-align: center;
      padding-bottom: 2rem;
      font-size: 2rem;

      @include susy-breakpoint($screen-xs, $susy) {
        font-size: 1.4rem;
      }

      @include susy-breakpoint($screen-sm, $susy) {
        width: auto;
        font-size: 1.5rem;
      }

      @include susy-breakpoint($screen-md, $susy) {
        font-size: 1.7rem;
      }
    }
  }
}
