.latestnews {
  .list-container {
    .header {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;
      padding: 0 0 1.5rem 0;

      h2 {
        flex-grow: 1;
        margin-bottom: 0;
        text-align: center;
      }
    }

    .header.link-in-header {

      .more-link {
        float:right;
        font-size: 1.5rem;
        text-decoration: none;
        line-height: 1.5em;
        white-space: nowrap;

        @include susy-breakpoint($screen-sm, $susy) {
          width: 15rem;
          text-align: right;
        }
      }

      h2 {

        @include susy-breakpoint($screen-xs, $susy) {
          padding-left: 0;
          text-align: left;
        }

        @include susy-breakpoint($screen-sm, $susy) {
          padding-left: 15rem;
          text-align: center;
        }

      }
    }

  }

  ul.list-container.tiles {
    .list-content {
      padding-bottom: 0rem;
      .item-meta .item-read-more {
        display: none;
      }
    }
  }
}