
.magazine-list-component{
    .button-list{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        button {
            flex-grow: 1;
            max-width: 250px;

            margin-left: 1.3rem;
            margin-right: 1.3rem;
            margin-bottom: 1rem;
            color: $secondary-color;
            transition: none;
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                /* IE10+ CSS styles go here */
                flex-grow: 0;
                max-width: auto;
           }
        }
    }
    .magazine-image {
        .magazine-image-inner {
            height: 0;
            padding-bottom: 67%;
            background-size: cover;
            background-position: center center;
            transition: transform .5s;
            vertical-align: top;
        }
        overflow:hidden;    
    }
    .magazine-more-results {
        text-align:center;

        .magazine-more-results-btn {
            background: 0;
            font-size: 2rem;
            color: $black_normal;
            border: 0;
            transition: color .2s ease-in-out;
        }
    }
    .publish-date {
        display: block;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $black_normal;
    }
	.loading-indicator-wrapper .loading-indicator {
  color: $slate-blue;
  }
	
}
ul.magazine-list-container{
    list-style-type: none;
}
.magazine-more-results-btn{
    background: 0;
    font-size: 2rem;
    color: $black_normal;
    border: 0;
    transition: color .2s ease-in-out;
}

.result-count-text{
    visibility: hidden;
    @include Equinor-Medium-italic;
    text-align: center;
    padding: 16px 0;
    font-size: 1.5rem;

	.selected-tag-name{
		text-transform: uppercase;
	}
}
.magazine-list-container {
    position:relative;
    transition: height .5s;
}
.magazine-list-item {
    position:absolute;
	background-color: $white;
    .white & {
        background-color: $light-green-5;
    }
    width: 100%;

    @include susy-breakpoint($screen-s, $susy){
        width: calc((100% - 24px) / 2);
    }

    text-align:center;
    transition: all .5s;
    padding-bottom: 0;
    img {
        width: 100%;
        height: auto;
    }
    .magazine-list-content {
        padding:30px;
        .publish-date {
            margin-bottom: 8px;
        }
        p {
            @include Equinor-Bold;
            font-size: 2.4rem;
            color: $black_normal;
            line-height: 2.8rem;

            height: 2.3em;
            overflow: hidden;
            padding: 0;
            margin-bottom: 24px;
        }
    }
    a {
        text-decoration: none;
    }
    a:hover, a:focus {
        .magazine-image-inner, img {
            transform: scale(1.1);
        }
    }
}
// Workaround of focus sticking, so the button is keeping its hoverstate when deselected
@media (pointer:coarse) {
    .magazine-tag-filter-btn:not(.is-active):hover::after {
        opacity: 0;
    }
}

.magazine-list-component{
  &.space-below_none{
    margin-bottom: 0;
  }
  &.space-below_normal{
    margin-bottom: 1.5rem;
  }
  &.space-below_big{
    margin-bottom: 4.5rem;
  }
}