@import "../core/core-colors";

@mixin box() {
  display: block;
  position: fixed;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 3px;
  border: 1px solid $primary-color;
}

// The ipad / mobile version
.search-and-language-wrapper {
  display: flex;
  float: right;

  .language-button {
    @include susy-breakpoint($screen-xs, $susy) {
      @include box();
      right: 7rem;
      top: 2rem;
      color: $primary-link-color;
      font-size: 0;
      text-decoration: none;
      padding-top: 0.7rem;
      &:before {
        font-family: $default-font-family;
        @include Equinor-Medium;
        text-transform: none;
        font-size: 1.7rem;
        content: attr(data-lang);
      }
    }
    @include susy-breakpoint($screen-xs, $screen-md, $susy) {
      width: 3rem;
      height: 3rem;
      right: 5rem;
      top: 2.5rem;
    }
    @include susy-breakpoint($screen-lg, $susy) { display: none;}
  }

  .search-button {
    @include susy-breakpoint($screen-xs, $susy) {
      @include box();
      text-align: center;
      right: 2rem;
      top: 2rem;
      color: $primary-color;
      text-decoration: none;
      font-size: 0;
      padding-top: 0.7rem;
      &:before { font-size: 2rem; }
    }
    @include susy-breakpoint($screen-xs, $screen-md, $susy) {
      width: 3rem;
      height: 3rem;
      right: 1rem;
      top: 2.5rem;
    }

    @include susy-breakpoint($screen-lg, $susy) { display: none;}
  }

  .moveRight {
    @include susy-breakpoint($screen-xs, $screen-md, $susy) {
      right: 1rem;
    }
  }
}

// Desktop version
.search-btn-wrapper {
    @include susy-breakpoint(0 $screen-md, $susy) {
      display: none;
    }
    display: flex;
    position: absolute;
    top: 4rem;
    right: 4rem;

    .site-switch-button {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-size: 1.6rem;
        height: auto;
        line-height: 1.8rem;
        border-radius: 3px;
        padding: .5rem 1.5rem;
        border: 1px solid $primary-color;
        background-color: $white;
        text-decoration: none;
        font-weight: 500;
        color: $default-font-text-color;
		transition: background-color 0.2s;
		&:hover , &:focus{
			background-color: $primary-color-light;
		}
    }

    .language-button--desktop {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-size: 1.6rem;
        height: auto;
        line-height: 1.8rem;
        border-radius: 3px;
        padding: .5rem 1.5rem;
        border: 1px solid $primary-color;
        background-color: #fff;
        text-decoration: none;
        font-weight: 500;
		color: $default-font-text-color;
		transition: background-color 0.2s;
		&:hover , &:focus{
			background-color: $primary-color-light;
		}
    }

    .search-button--desktop {
        margin-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        background-color: white;
        border-radius: 3px;
        border: 1px solid $primary-color;
        color: $primary-color;
        text-decoration: none;
        font-size: 0;
        &:before { font-size: 2rem; }
    }

  #navigation-fixed_search{
    @include box();
    text-align: center;
    right: 4rem;
    top: 4rem;
    color: $primary-color;
    text-decoration: none;
    font-size: 0;
    padding-top: 0;
    &:before { font-size: 2rem; }
  }

  #navigation-fixed_language{
    @include box();

    right: 4rem;
    top: 10rem;
    color: $primary-link-color;
    font-size: 0;

    &:before {
      font-family: $default-font-family;
      @include Equinor-Medium;
      font-size: 2rem;
      text-decoration: none;
      text-transform: none;
      content: attr(data-lang);
    }
	}

	#navigation-fixed_sites{
    @include box();

    right: 4rem;
    top: 10rem;
    color: $primary-link-color;
    font-size: 0;

    &:before {
      font-family: $default-font-family;
      @include Equinor-Medium;
      font-size: 2rem;
      text-decoration: none;
      text-transform: none;
    }
  }

  #navigation-fixed_language, #navigation-fixed_search {
    display: none;
    @include susy-breakpoint($screen-lg, $susy) {
      display: flex;
    }
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
