.member-card {
    width:100%;
    display:inline-block;
    .member-image{
        width:100%;
        height:auto;
        img{
            width:100%;
        }
    }
    .member-card-body{
        h4{
            display: inline-block;
            color: #222;
        }
        p {
            color: #666;
        }


    }

}






