.svgicon {
  display: inline-block;
  width: 100%;

  img {
    float:none;
    display:block;
    margin:0 auto;
    position: static!important;
    width:100%;

    &.align-left{
      float:left;
    }

    &.align-right{
      float:right;
    }
  }

  .small { width:5rem; }
  .normal { width:10rem; }
  .medium { width:15rem; }
  .large { @include span(12 nest); }

  .responsive-small{
    box-sizing: border-box;
    width: 25%
  }

  .responsive-normal{
    box-sizing: border-box;
    width: 50%;
  }

  .responsive-medium {
    box-sizing: border-box;
    width: 75%
  }

  .responsive-large { @include span(12 nest); }

  .figure-module_reference {
    @include span(12 nest);
    float:left;
    font-size: 1.5rem;
    line-height: 2.6rem;
    color: #B8B8B8;
    margin-top:1rem;

    .figure-module_reference-icon {
      color:$primary-color;
      font-size:1.7rem;
      margin-right:0.4rem;
    }
  }

  .figure-module_caption {
    @include span(12 nest);
    @include Equinor-Light;
    float: left;
    font-size: 1.5rem;
    line-height: 2.6rem;
    color: #333;
  }
}