.video {
  display: inline-block;
  width: 100%;
  height:100%;
  position:relative;

  .videoplayer {
    @include span(12 nest);
    object-fit: cover;
  }

  .videoplayer_play {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    @include susy-breakpoint($screen-xs, $susy) { margin: -6rem 0 0 -6rem; }
    @include susy-breakpoint($screen-sm, $susy) { margin: -7rem 0 0 -7rem; }
    @include susy-breakpoint($screen-lg, $susy) { margin: -10rem 0 0 -10rem; }

    .colctrl-2c &{
      @include susy-breakpoint($screen-lg, $susy) { margin: -8rem 0 0 -8rem; }
    }
    .colctrl-3c &{
      @include susy-breakpoint($screen-lg, $susy) { margin: -6rem 0 0 -6rem; }
    }

    svg {
      @include susy-breakpoint($screen-xs, $susy) {
        cursor: pointer;
        width: 12rem;
        height: 12rem;
      }

      @include susy-breakpoint($screen-sm, $susy) {
        cursor: pointer;
        width: 14rem;
        height: 14rem;
      }

      @include susy-breakpoint($screen-lg, $susy) {
        cursor: pointer;
        width: 20rem;
        height: 20rem;
      }
      .colctrl-2c &{
        @include susy-breakpoint($screen-lg, $susy) {
          cursor: pointer;
          width: 15rem;
          height: 15rem;
        }
      }
      .colctrl-3c &{
        @include susy-breakpoint($screen-lg, $susy) {
          cursor: pointer;
          width: 12rem;
          height: 12rem;
        }
      }

      circle {
        stroke-opacity: 0.4;
        stroke-width: 2.5rem;
        fill: transparent;
        stroke: #ffffff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 20;
      }

      g > polygon {
        fill: #ffffff;
        fill-opacity: 0.9;
      }
    }
  }
}

.banner-video {
    video::-webkit-media-controls-start-playback-button {
      display: none!important;
      -webkit-appearance: none;
    }
    svg {

        cursor: pointer;
        bottom: 50%;
        display: none;
        visibility: visible;
        height: 25%;
        left: 50%;
        position: absolute;
        top:50%;
        transform: translate(-50%, -50%);
        width: 30%;
        @include susy-breakpoint(0 $screen-sm, $susy) {
          display: block;
          visibility: hidden;
        }
    }

    @include susy-breakpoint(0 $screen-sm, $susy) {
      video[controls="controls"] + svg {
        display: block;
        visibility: hidden;
      }
    }

    circle {
        cursor: pointer;
        fill: transparent;
        stroke: #ffffff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 20;
        stroke-opacity: 0.4;
        stroke-width: 1rem;
    }

    polygon {
        fill: #ffffff;
        fill-opacity: 0.9;
    }
}