.archive {
  .article {

    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;

    // Add padding on each side
    @include susy-breakpoint($screen-xs, $susy) {
      padding-left: calc(3 * var(--space-medium));
      padding-right: calc(3 * var(--space-medium));
    }

    @include susy-breakpoint($screen-sm, $susy) {
      padding-left: calc(10 * var(--space-medium));
      padding-right: calc(10 * var(--space-medium));
    }

    @include susy-breakpoint($screen-md, $susy) {
      padding-left: calc(15 * var(--space-medium));
      padding-right: calc(15 * var(--space-medium));
    }

    font-size: calc(2 * var(--space-medium));
    line-height: calc(3.2 * var(--space-medium));

    img {
      display: block;
      margin-bottom: calc(2 * var(--space-medium));
    }

    h1 {
      text-align: left;
      padding-top: 0;
    }

    .artImgBig {
      width: 100%;
      margin-top: var(--space-medium);
      img {
        width: 100%;
      }
      p {
        width: 100%;
        float: left;
        font-size: calc(0.75 * var(--space-medium));
        line-height: calc(1.3 * var(--space-medium));
        @include Equinor-Light;
        color: #565656;

        &:before {
          color: $primary-color;
          content: $fa-var-camera;
          margin-right: calc(0.6 * var(--space-medium));
          display: inline-block;
          font: normal normal normal #{$fa-font-size-base}/1 FontAwesome; // shortening font declaration
          font-size: calc(0.8 * var(--space-medium)); // can't have font-size inherit on line above, so need to override
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0); // ensures no half-pixel rendering in firefox
        }
      }
    }
    .artImgInline:not(.artImgBig),.artImgInlineLeft:not(.artImgBig) {
      float: left;
      width: 30%;
      padding: var(--space-medium);
      margin: 0 calc(4 * var(--space-medium)) var(--space-medium) calc(-1 * var(--space-medium));

      img {
        width: 100%;
      }

      p {
        width: 100%;
        float: left;
        font-size: calc(0.75 * var(--space-medium));
        line-height: calc(1.3 * var(--space-medium));
        @include Equinor-Light;
        color: #565656;

      }
    }
  }
}

ul.downloads {
  padding: 0;
  list-style-type: none;
}
