//  Colors
// ----------------------------------------------------------------------------------------
$slate_blue: #243746;

$navigation-list-border-color: rgba($slate_blue, 0.3);

*{
  box-sizing: border-box;
  &:before, &:after{ box-sizing: border-box; }
}

body, html{
  width: 100%;
  font-weight: $default-font-weight;
  font-size: clamp(16px, calc(14.301px + 0.4531vw), 23px);
  font-family: $default-font-family;
  background: white;//override AEM editor background color..
  transform: none !important; //override some styling on ipad that creates a bug on scroll up
}

body{
  position: relative;
  height: 100%;
  font-size: $default-font-size;
  color: $default-font-text-color;
  font-weight: $default-font-weight;
  line-height: $default-font-line-height;
  text-transform: $default-font-text-transform;
  -webkit-font-smoothing: antialiased;
}

// Container
.container {
  height:100%;
  @include container;
  overflow: visible;
  margin-left: 0;
}

// Header
html {
   overflow-y: auto;
   overflow-x: hidden;

  .page-header-content {
    max-width: 100%;
    position: relative;
  }
}

// Content
.content{
  @include susy-breakpoint($screen-xs, $susy) {
    @include span(12 nest);
  }

  @include susy-breakpoint($screen-lg, $susy) {
    margin-top: 0;
  }
}
@include susy-breakpoint($screen-lg, $susy) {
  .mfp-content {
    .content{
      border-left: none;
    }
  }
}
