// Define varibles
$space-below-none: 0;
$space-below-normal: calc(calc(1.5 * var(--space-medium)) / 1.6);
$space-below: calc(calc(2.5 * var(--space-medium)) / 1.6);
$space-below-big: calc(calc(4.5 * var(--space-medium)) / 1.6);

// Define common spacing rules for all components
.section:not(.anchor):not(.magazinecontentmodule) {
  .component-container {
    display: block;
    overflow: hidden;

    &.space-below_none { margin-bottom: $space-below-none; }
    &.space-below_normal { margin-bottom: $space-below-normal; }
    &.space-below_big { margin-bottom: $space-below-big; }
  }

}
// Set default spacing values for different components
.section:not(.anchor):not(.magazinecontentmodule) > .component-container { margin-bottom: $space-below; }
.section.downloadlist * .component-container {margin-bottom: $space-below; }
.section.factbox > .component-container {margin-bottom: calc(calc(3 * var(--space-medium)) / 1.6); }

.section.bannerinline > .component-container { margin-bottom: $space-below-none; }
.section.bannerquote > .component-container { margin-bottom: $space-below-none; }
.section.text > .component-container { margin-bottom: $space-below-none; }
