//  Core Typography
//    - requires extends from file: _core-font.scss
//  ---------------------------------------------------------------------------------------

$default-margin-bottom-xs: calc(var(--space-medium) / 1.6);
$default-margin-bottom-md: calc(calc(1.5 * var(--space-medium)) / 1.6);

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include Equinor-Regular;
}

h1, .h1, h2, .h2, h3 .h3, h4 .h4 {
  @include Equinor-Regular;
}

h1, .h1 {
  font-size: calc(calc(3.2 * var(--space-medium)) / 1.6);
  line-height: calc(calc(3.6 * var(--space-medium)) / 1.6);
}

h2, .h2 {
  font-size: calc(calc(2.4 * var(--space-medium)) / 1.6);
  line-height: calc(calc(3.0 * var(--space-medium)) / 1.6);
}

h3, .h3 {
  font-size: calc(calc(1.8 * var(--space-medium)) / 1.6);
  line-height: calc(calc(2.8 * var(--space-medium)) / 1.6);
}

h4, .h4 {
  text-transform: uppercase;
  font-size: calc(calc(1.6 * var(--space-medium)) / 1.6);
  line-height: calc(calc(2.4 * var(--space-medium)) / 1.6);
}

h1, .h1, h2, .h2, h3, .h3{
  @include susy-breakpoint($screen-xs, $susy) { margin-bottom: $default-margin-bottom-xs; }
  @include susy-breakpoint($screen-md, $susy) { margin-bottom: $default-margin-bottom-md; }
}

p, ul, ol, li, tr, td, .base, .text, .factbox {
  font-size: calc(calc(1.6 * var(--space-medium)) / 1.6);
  line-height: calc(calc(2.4 * var(--space-medium)) / 1.6);
}
p, tr, td {
  padding-bottom: calc(calc(2.4 * var(--space-medium)) / 1.6);
}
.base p + ul, .base p + ol {
  margin-top: calc(calc(-1.8 * var(--space-medium)) / 1.6);
  @include susy-breakpoint($screen-md, $susy) {
    margin-top: calc(calc(-2.2 * var(--space-medium)) / 1.6);
  }
}
.base ul li {
  background-image: url('/legacy/images/graphics/bullet.png');
  background-size: 6px;
  background-repeat: no-repeat;
  background-position: 12px .6em;
  padding-left: calc(calc(2.5 * var(--space-medium)) / 1.6);
  list-style: none;
  @include susy-breakpoint($screen-md, $susy) {
    background-position: 12px .8em;
  }
  @at-root .moss-green#{&} {
    background-image: url('/legacy/images/graphics/bullet-mossgreen.png');
  }
  @at-root .signal-red#{&} {
    background-image: url('/legacy/images/graphics/bullet-red.png');
  }

}

.primary-100 ,
.slate-blue ,
.heritage-red  {
  .base ul li{
  background-image: url('/legacy/images/graphics/bullet-white.png');
  }
}

.small, small {
  font-size: calc(calc(1.4 * var(--space-medium)) / 1.8);
  line-height: calc(calc(1.8 * var(--space-medium)) / 1.8);
}
.alternative {
  font-feature-settings: "ss01";
}

cite, var, address, dfn {
  @include Equinor-Medium-italic;
}

i, em {
  //@include Equinor-Regular-italic;
  font-style : italic;
}

sub, sup {
  font-size: 70%;
  line-height: 1;
}

input {
  font-family: Equinor;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

a{
  color: $secondary-color;
  &:hover{
    text-decoration:none;
    color: $secondary-color-dark;
  }
  &:visited{
    color:$secondary-color-dark;
  }
}
