//  Core Colors
//  ---------------------------------------------------------------------------------------

$white: #ffffff;
$magenta-promo: #d20f8c;
$blue-promo: #0086b5;
$mid-grey-promo: #7f7f7f;
$dark-grey-promo: #3e3e3e;

$magenta: #d20f8c;
$magenta-dark: #b20276;

$purple: #9B1E73;
$blue: #41557e;
$statoil-default-blue: #0086b5;

$cyan: #98dced;
$dark-cyan: #0086b5;
$grey-light: #E3E5E7; // slate gray, equinor change

$grey: #cccccc;
$grey-darker: #545454;
$grey-lighter: #999999;

//  Core Button Colorsg
//  ---------------------------------------------------------------------------------------

$grey-button: #e7e9ed;

// Equinor Colors
$primary-color: #EB0037; // red
$primary-color-light:#FFF2F5;
$primary-color-dark: #B8002B;
$primary-color-15: #fce0e2;
$secondary-color: #007079; // moss green
$secondary-color-light-5p: #f4f5f6;
$secondary-color-light: #DEEDEE;
$secondary-color-light-bg: #D9EAEB;
$secondary-color-dark: #00545B; //dark moss green;
$primary-link-color: #243746; // Slate blue
$primary-link-unselected-menu: #66737E; // 70% slate blue
$blue-light: #f4fafc;

$language-switch-background: #eaf4f9;
$language-switch-dropdown-hover: #e9ebec;
//Column control colors
$green: $secondary-color;
$light-green-5: #F2F8F8;
$light-green-15: $secondary-color-light-bg;
$mist-blue: #d5eaf4;
$light-mist-blue: #eaf4f9;
$slate-blue: #243746;
$heritage-red: #7d0023;
$spruce-wood: #FFECDE;


// Carousel
$pastel-green: #e6ffec;
$pastel-red: #ffe7d6;

$grey_dark: #808080;
$black_normal: #323232;
$black_light: #d2d4d3;
$special-slate-blue-tint: #879199;
$disabled-button-background: #eaeaea;
$disabled-text-color: #bebebe;
$disabled-button-border: #dcdcdc;



