$font-default: 'sans serif';
$default-font-weight: normal;
$default-font-percentage: 62.5%;
$default-font-size: 1rem;
$default-font-text-color: #333333;
$default-font-line-height: 1.5rem;
$default-font-text-transform: none;
$z-index-popout: 100;


