//  Text helpers
//  ---------------------------------------------------------------------------------------

.center{ text-align: center; }
.left{ text-align: left; }
.right{ text-align: right; }

.text-lower-case{ text-transform: lowercase; }
.primary-color{color: $primary-color}
