.mfp-content.inverted {
  background-color: #3E3E3E;
  color: white;
  .text a {
    color: white;
  }

  .panel-content {
    background-color: #3E3E3E;

    h1, h2, h3, h4, h5 { color: $grey; }
    p, ul > li, { color: $white; }

    .colctrl.wrapper > .parsys_column {
      background-color: #3E3E3E;
    }

    .text-content a { color: $cyan; }
    .figure-module_reference,
    .figure-module_caption,
    .figure-module_information { color: $white !important; }


    .table {
      tr {
        border-bottom: 0;
          &:first-child { color: $white; }
      }
    }

    .colctrl {

      &.wrapper {
        tr {
          &:nth-child(even) {
            background-color: #525252;
            color: $white;
          }

          &:nth-child(odd) {
            color: $white;
          }
        }
      }
    }

  }
}
