.<%= className %>:before {
  font-family: "<%= fontName %>";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

<% _.each(glyphs, function(glyph) { %>
                                    .<%= className %>-<%= glyph.name %>:before {
  content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>";
}
<% }); %>
