@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
}

@layer utilities {
  /* Scroll-Timeline Supported, Yay! */
  @supports (animation-timeline: view()) {
    .animate-timeline {
      @apply animate-fadeInOut;
      animation-timeline: view();
      animation-range: entry 25% cover 85%;
    }
  }

  .white-right-gradient {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.3) 30%,
      rgba(255, 255, 255, 0.4) 100%
    );
  }
  .white-left-gradient {
    background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.3) 30%,
      rgba(255, 255, 255, 0.4) 100%
    );
  }
  .white-center-gradient {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  }

  .black-right-gradient {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.4) 100%);
  }
  .black-left-gradient {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.4) 100%);
  }
  .black-center-gradient {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }
}
