.adaptiveimages {
  display: inline-block;
  width: 100%;

  .small{
    display:block;
     @include span(12 nest);
  }
  .medium{
    display:none;
     @include span(12 nest);
  }
  .large{
    display:none;
    @include span(12 nest);
  }
  @include susy-breakpoint($screen-xs, $susy){
      .small{
        display:block;
      }
      .medium{
        display:none;
      }
      .large{
        display:none;
      }
  }
  @include susy-breakpoint($screen-sm, $susy){
    .small{
        display:block;
    }
    .medium{
        display:none;
    }
    .large{
        display:none;
    }
  }
  @include susy-breakpoint($screen-md, $susy){
    .small{
        display:none;
    }
    .medium{
        display:block;
    }
    .large{
        display:none;
    }

  }
  @include susy-breakpoint($screen-lg, $susy){
    .small{
        display:none;
    }
    .medium{
        display:none;
    }
    .large{
        display:block;
    }
  }
}