//  Banner top variables
//  ---------------------------------------------------------------------------------------

$banner-height-xs: 29rem;
$banner-height-s: 45rem;
$banner-height-sm: 45rem;
$banner-height-md: 45rem;
$banner-height-lg: 47rem;
$banner-height-xl: 50rem;
$banner-height-1600: 48rem;
$banner-height-1800: 53rem;
$banner-height-2000: 60rem;
$banner-height-2200: 67rem;
$banner-height-2500: 73rem;

$banner-videoplayer-height-xs: 43rem;
$banner-videoplayer-height-sm: 54rem;
$banner-videoplayer-height-md: 56rem;
$banner-videoplayer-height-lg: 63rem;
$banner-videoplayer-height-xl: 72rem;
$banner-videoplayer-height-1600: 100rem;
$banner-videoplayer-height-1800: 100rem;
$banner-videoplayer-height-2000: 100rem;
$banner-videoplayer-height-2200: 100rem;
$banner-videoplayer-height-2500: 100rem;

$clip: polygon(0 0, 0% 100%, 100% 69%, 100% 0);

$bottombar-background:#000;
$bottombar-color:#FFF;
$date-module-color: #FFF;

$alternate-color: #333333;
$banner-color: #FFF;

@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  clip-path: $clip;
}

//  Banner top
//  ---------------------------------------------------------------------------------------
.banner-top {

  &.banner-video {
    max-height: none !important;

    &.gray {
      background-color: $grey-light;
    }
    &.white {
      background-color: $white;
    }

    figure {
      position: relative;
      overflow: hidden;
      @include susy-breakpoint($screen-xs, $susy) { max-height: $banner-videoplayer-height-xs; }
      @include susy-breakpoint($screen-sm, $susy) { max-height: $banner-videoplayer-height-sm; }
      @include susy-breakpoint($screen-md, $susy) { max-height: $banner-videoplayer-height-md; }
      @include susy-breakpoint($screen-lg, $susy) { max-height: $banner-videoplayer-height-lg; }
      @include susy-breakpoint($screen-xl, $susy) { max-height: $banner-videoplayer-height-xl; }
      @include susy-breakpoint($screen-1600, $susy) { max-height: $banner-videoplayer-height-1600; }
      @include susy-breakpoint($screen-1800, $susy) { max-height: $banner-videoplayer-height-1800; }
      @include susy-breakpoint($screen-2000, $susy) { max-height: $banner-videoplayer-height-2000; }
      @include susy-breakpoint($screen-2200, $susy) { max-height: $banner-videoplayer-height-2200; }
      @include susy-breakpoint($screen-2500, $susy) { max-height: $banner-videoplayer-height-2500; }

      video {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
      }
    }
    .banner-top-colctrl {
      position: static;
      bottom: auto;
      @include susy-breakpoint($screen-md, $susy) {
        position: absolute;
        bottom: -5rem;
      }
    }
  }
  overflow-x: hidden;
  &:not(.carousel){
    overflow: hidden;
    height: 100%;

    @include susy-breakpoint($screen-xs, $susy) {
      max-height: $banner-height-xs;
      margin-bottom: 0;
    }
    @include susy-breakpoint($screen-sm, $susy) {
      max-height: $banner-height-sm;
    }
    @include susy-breakpoint($screen-md, $susy) { max-height: $banner-height-md; }
    @include susy-breakpoint($screen-lg, $susy) { max-height: $banner-height-lg; }
    @include susy-breakpoint($screen-xl, $susy) { max-height: $banner-height-xl; }
    @include susy-breakpoint($screen-1600, $susy) { max-height: $banner-height-1600; }
    @include susy-breakpoint($screen-1800, $susy) { max-height: $banner-height-1800; }
    @include susy-breakpoint($screen-2000, $susy) { max-height: $banner-height-2000; }
    @include susy-breakpoint($screen-2200, $susy) { max-height: $banner-height-2200; }
    @include susy-breakpoint($screen-2500, $susy) { max-height: $banner-height-2500; }
  }
  &.carousel img {
    @include susy-breakpoint($screen-md, $susy) { max-height: $banner-height-md; }
    @include susy-breakpoint($screen-lg, $susy) { max-height: $banner-height-lg; }
    @include susy-breakpoint($screen-xl, $susy) { max-height: $banner-height-xl; }
    @include susy-breakpoint($screen-1600, $susy) { max-height: $banner-height-1600; }
    @include susy-breakpoint($screen-1800, $susy) { max-height: $banner-height-1800; }
    @include susy-breakpoint($screen-2000, $susy) { max-height: $banner-height-2000; }
    @include susy-breakpoint($screen-2200, $susy) { max-height: $banner-height-2200; }
    @include susy-breakpoint($screen-2500, $susy) { max-height: $banner-height-2500; }
  }
  #map {
      @include susy-breakpoint($screen-xs, $susy) { height: $banner-height-xs; }
      @include susy-breakpoint($screen-sm, $susy) { height: $banner-height-sm; }
      @include susy-breakpoint($screen-md, $susy) { height: $banner-height-md; }
      @include susy-breakpoint($screen-lg, $susy) { height: $banner-height-lg; }
      @include susy-breakpoint($screen-xl, $susy) { height: $banner-height-xl; }
      @include susy-breakpoint($screen-1600, $susy) { height: $banner-height-1600; }
      @include susy-breakpoint($screen-1800, $susy) { height: $banner-height-1800; }
      @include susy-breakpoint($screen-2000, $susy) { height: $banner-height-2000; }
      @include susy-breakpoint($screen-2200, $susy) { height: $banner-height-2200; }
      @include susy-breakpoint($screen-2500, $susy) { height: $banner-height-2500; }
  }

  /*size for carousel */
  /*
  .slick-slide{
    @include susy-breakpoint($screen-xs, $susy) { max-height: $banner-height-xs; }
    @include susy-breakpoint($screen-sm, $susy) { max-height: $banner-height-sm; }
    @include susy-breakpoint($screen-md, $susy) { max-height: $banner-height-md; }
    @include susy-breakpoint($screen-lg, $susy) { max-height: $banner-height-lg; }
    @include susy-breakpoint($screen-xl, $susy) { max-height: $banner-height-xl; }
    @include susy-breakpoint($screen-1600, $susy) { max-height: $banner-height-1600; }
    @include susy-breakpoint($screen-1800, $susy) { max-height: $banner-height-1800; }
    @include susy-breakpoint($screen-2000, $susy) { max-height: $banner-height-2000; }
    @include susy-breakpoint($screen-2200, $susy) { max-height: $banner-height-2200; }
    @include susy-breakpoint($screen-2500, $susy) { max-height: $banner-height-2500; }
  }
  */
  .banner-section {
    position:relative;
  }

  .banner {
    @include susy-breakpoint($screen-xs, $susy) { max-height: $banner-height-xs; }
    @include susy-breakpoint($screen-sm, $susy) { max-height: $banner-height-sm; }
    @include susy-breakpoint($screen-md, $susy) { max-height: $banner-height-md; }
    @include susy-breakpoint($screen-lg, $susy) { max-height: $banner-height-lg; }
    @include susy-breakpoint($screen-xl, $susy) { max-height: $banner-height-xl; }
    @include susy-breakpoint($screen-1600, $susy) { max-height: $banner-height-1600; }
    @include susy-breakpoint($screen-1800, $susy) { max-height: $banner-height-1800; }
    @include susy-breakpoint($screen-2000, $susy) { max-height: $banner-height-2000; }
    @include susy-breakpoint($screen-2200, $susy) { max-height: $banner-height-2200; }
    @include susy-breakpoint($screen-2500, $susy) { max-height: $banner-height-2500; }

    a {
      text-decoration: none;
    }

    h1, h2, h3, h4, span.tagline {
      color: $banner-color;

      &.shadow {
        text-shadow: .1rem .1rem 0 rgba(0,0,0,.75);
      }

      &.light-shadow {
        text-shadow: .1rem .1rem 0 rgba(255,255,255,.75);
      }

      &.alternate {
        color: $alternate-color;
      }
    }

    span.tagline {
      display: block;
      font-size: 2rem;
      line-height: 2rem;
    }

    img {
      width: 100%;
      height: 100%;
      float: none;
      padding: 0;
      max-width: none;
      display:block;

    }

    figure {
      float: none;
      position: relative;
      overflow: hidden;
    }

    &.text-inside{
       .banner-content{
          position: absolute;
          margin: auto;
          padding: 0 5rem;
          width: 100%;
          text-align: center;

          @include susy-breakpoint($screen-xs, $susy) { top: 20%; }
          @include susy-breakpoint($screen-sm, $susy) { top: 25%; }
          @include susy-breakpoint($screen-lg, $susy) { top: 35%; }

            .quote{
              @include Equinor-Medium-italic;
              text-align: left;
              padding-left: 0rem;
              padding-right: 0rem;

              &:before {
                color:white;
                font-size: 15rem;
                content: '\201D';
                display: block;
                position: relative;
                margin-top: 5.5rem;
                text-align: left;
                height: 0;
                line-height: 2rem;
                float: left;
             }

              @include susy-breakpoint($screen-xs, $susy) {
                padding-left: 12rem;
                padding-right: 12rem;
                  h1 { padding-left: 9rem; }
                }

                @include susy-breakpoint($screen-sm, $susy) {
                  padding-left: 18rem;
                  padding-right: 18rem;
                }

                @include susy-breakpoint($screen-lg, $susy) {
                  padding-left: 30rem;
                  padding-right: 30rem;
                }

                h3 {
                  padding-left: 9rem;
                  text-transform: uppercase;
                }
            }
        }
    }

    &.button-inside{
      position: relative;

      .banner-content {
        position: absolute;
        margin: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        text-align: center;

        h3 {
            text-transform: uppercase;
            margin:0.5rem 0;

        }

        h1 {
            margin:0.5rem 0;
        }
      }
    }
  }

  // SVG icon (flags) is used without colctrl

  .svgicon {

    position: absolute;
    width: 50%;
    margin-left: 25%;
    left: 0;

    @include susy-breakpoint($screen-xs, $susy) {
      bottom: 1rem;
      .responsive-small {
        width: 65%;
        margin-left: 17.5%;
      }

    }
    @include susy-breakpoint($screen-sm, $susy) {
      bottom: 5rem;
      .responsive-small {
        @include span(4 nest);
        margin-left: 33.33333%;
      }
    }
    @include susy-breakpoint($screen-xl, $susy) { bottom: 6rem; }
    @include susy-breakpoint($screen-1600, $susy) { bottom: 8rem; }
    @include susy-breakpoint($screen-1800, $susy) { bottom: 10rem; }

    .component-container {
      margin-bottom: 0 !important;
    }

  }

  .banner-top_video_ingress{
    @include Equinor-Medium;
    padding: gutters(5rem) 0;

    @include susy-breakpoint($screen-xs, $susy){
      //width: 28rem;
      padding-left: span(1 / 2);
      padding-right: span(1 / 2);
    }

    @include susy-breakpoint($screen-sm, $susy){
      //width: 58rem;
      padding-left: span(1);
      padding-right: span(1);
    }

    @include susy-breakpoint($screen-md, $susy){
      //width: 74rem;
    }

    @include susy-breakpoint($screen-lg, $susy){
      //width: 100rem;
      padding-left: span(2);
      padding-right: span(2);
    }
  }

  .banner-text {
    margin: 0 auto;
    @include Equinor-Medium;
    text-transform: none;

    @include susy-breakpoint($screen-xs, $susy) { width: 80%; }
    @include susy-breakpoint($screen-sm, $susy) { width: 70%; }
    @include susy-breakpoint($screen-md, $susy) { width: 60%; }
    @include susy-breakpoint($screen-lg, $susy) { width: 50%; }
    @include susy-breakpoint($screen-xl, $susy) { width: 40%; }

  }

  .banner {
    max-height: none;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &.text-inside {
         .banner-content {
              position: absolute;
              margin: auto;
              width: 100%;
              height: 100%;
              text-align: center;
              position: absolute;

           &:before {
             content: '';
             height: 100%;
             display: inline-block;
             vertical-align: middle;
           }

            @include susy-breakpoint($screen-xs, $susy) {
              top: 0;
              padding: 0;
              height: 90%;
              .banner-text {
                display: inline-block;
                vertical-align: middle;
                h1, h2, h3, span.tagline {
                  margin: 0;
                }

              }
            }

          }
      }
  }

  .bottombar {
    @include span(12 nest);

    @include susy-breakpoint($screen-xs, $susy) {
      margin: auto;
      width: 100%;
      padding: 1rem;
      position: absolute;
      bottom: 0;
      text-align: center;
      background: $bottombar-background;
      opacity:0.5;
      color:$bottombar-color;
      font-size: 1.3rem;
      line-height: 1;
      i { font-size:2rem; }
    }

    @include susy-breakpoint($screen-sm, $susy) {
      font-size: 1.5rem;
      line-height: 2.6rem;
    }

    .author, .tags, .date { @include span(4 nest); }

    .date-module {
      margin:0;
      color: $date-module-color;
    }

    .date_module-icon { color:$date-module-color; }

  }

}

.content-separator {
  width: 100%;
  display: block;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $secondary-color;
  text-align: center;
  color: #FFF;
  @include Equinor-Bold;
}

// Colctrl is used for video and images

.banner-top-colctrl {
  width: 100%;

  // Make the contents of this div be positioned in the center of the 6 degree angle.
  // The parent container (.banner-top) has oveflow: hidden; and the grandparent (.page-header-content) has position: relative;
  // Credits to : http://front-back.com/how-to-make-absolute-positioned-elements-overlap-their-overflow-hidden-parent
  position: absolute;
  bottom: -18%;
  @include susy-breakpoint($screen-sm, $susy) {
    bottom: -5rem;
  }

  &.edit {
    margin-top: 0;
  }

  // Padding for one column grid item
  .parsys_column.cq-colctrl-default {

    @include susy-breakpoint($screen-xs, $susy) {
      padding-left: 15%;
      padding-right: 15%;
    }

    @include susy-breakpoint($screen-sm, $susy) {
      padding-left: 20%;
      padding-right: 20%;
    }

    @include susy-breakpoint($screen-md, $susy) {
      padding-left: 25%;
      padding-right: 25%;
    }

    @include susy-breakpoint($screen-lg, $susy) {
      padding-left: 30%;
      padding-right: 30%;
    }
  }


  // Inner wrappers for all column controls
  .parsys_column.colctrl-2c,
  .parsys_column.colctrl-2c-wideleft,
  .parsys_column.colctrl-2c-wideright,
  .parsys_column.colctrl-3c,
  .parsys_column.colctrl-4c,
  .parsys_column.colctrl-5c,
  .parsys_column.colctrl-6c,
  .parsys_column.colctrl-7c {

    max-width: 140rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;

    // Add padding on each side
    @include susy-breakpoint($screen-xs, $susy) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include susy-breakpoint($screen-sm, $susy) {
      padding-left: 10rem;
      padding-right: 10rem;
    }

    @include susy-breakpoint($screen-md, $susy) {
      padding-left: 15rem;
      padding-right: 15rem;
    }

  }

  // Two columns in topbanner should not collapse to one col on mobile
  .colctrl-2c-c1,
  .colctrl-2c-c0 {

    margin: 1rem 0;
    @include susy-breakpoint($screen-xs, $susy) {
      @include span(6);
    }
  }

  // Three columns in topbanner should not collapse to one col on mobile
  .colctrl-3c-c0,
  .colctrl-3c-c1,
  .colctrl-3c-c2 {

    margin: 1rem 0;
    @include susy-breakpoint($screen-xs, $susy) {
      @include span(4);
    }
  }

  // Four columns in topbanner should not collapse to one col on mobile
  .colctrl-4c-c0,
  .colctrl-4c-c1,
  .colctrl-4c-c2,
  .colctrl-4c-c3 {

    margin: 1rem 0;
    @include susy-breakpoint($screen-xs, $susy) {
      @include span(3);
    }
  }

  .video .videoplayer {
    margin-bottom: 0;
  }

}
