// Background-color, arrow and button color will respect the parent colctrl type


    .events-container.tiles-view{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      @include susy-breakpoint($screen-md, $susy) {
        margin-left: 1.5%;
      }

      article.calendar-item {
        display: flex;
        flex-direction: column;

        @include susy-breakpoint($screen-xs, $susy) { width: 100%; }
        @include susy-breakpoint($screen-s, $susy) {
          width: 48%;

          &:nth-child(2n-1) {
            margin-left: 3px;
            margin-right: 3px;
          }
        }

        @include susy-breakpoint($screen-md, $susy) {
          width: 32%;

          &:nth-child(2n-1) {
            margin-left: 0;
            margin-right: 0;
          }

          &:nth-child(3n-1) {
            margin-left: 3px;
            margin-right: 3px;
          }
        }

        border-bottom: 2px solid #e1e2e3;
        margin-bottom: 3rem;

        header {
          background-color: $secondary-color-light-bg;
          @include susy-breakpoint($screen-xs, $susy) {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex-grow: 2;
          }

          .event-date {
            @include susy-breakpoint($screen-xs, $susy) {
              display: flex;
              background-color: $secondary-color;
              width: 100%;
              height: 13rem;
              position: relative;
            }


            &:before {

              @include susy-breakpoint($screen-xs, $susy) {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                left: calc(50% - 1rem);
                bottom: 0;
                border-left: 1.5rem solid transparent;
                border-right: 1.5rem solid transparent;
                border-bottom: 2rem solid $secondary-color-light-bg;

              }

            }

            .date-container {
              width: 100%;
              text-align: center;
              align-self: center;
              padding: 0 2rem;
              font-size: 4rem;
            }

            span {
              color: #fff;
              @include Equinor-Light;
              font-size: 3rem;
            }
          }

          .event-title {
            flex-direction: row;
            flex-grow: 2;
            padding: 2rem;
            width: 100%;

            h2 {
              @include Equinor-Bold;
              font-size: 1.8rem;
              line-height: 1.4;
              margin-bottom: 1rem;
              width: 100%;
            }

            .meta {
              display: block;
              width: 100%;

              .eventtype {
                width: 100%;
                font-size: 1.6rem;
                float: left;
              }

              .read-more { display: none;}
            }
          }
        }

        .fa, .si {
          color: $primary-color;
          padding-right: 1rem;
          min-width: 2.5rem;
          text-align: center;
          &:before{
            font-weight: inherit;
          }
        }

        footer {
          display: flex;
          flex-direction: column;
          padding: 2rem;
          background-color: $secondary-color-light-bg;

          @include susy-breakpoint($screen-xs, $susy) {
            display: flex;
            flex-direction: column;
            align-items: baseline;
          }
        }
        .location, .time, .add-event {
          @include Equinor-Bold;
          display: flex;
          font-size: 1.5rem;
          line-height: 1.2;
          padding-bottom: 1rem;
        }

        .location, .time, .add-event {
          width: 100%;
        }

        .add-event {
          @include Equinor-Medium;
          color: #775D72;

          a {
            cursor: pointer;
            text-decoration: none;
            color: $primary-color;
              &:visited {
                color: $primary-color-dark;
              }
          }
        }

        .read-more {
          width: 100%;
          text-align: center;
          margin: 2rem 0 0 0;
          .btn.list { background-color: #fff; }
        }
      }
    }
.cq-colctrl-default {
  &.light-grey {
     .tiles-view > .calendar-item {
      background-color: #fff;

      header {
        .event-date {
          &:before {
            @include susy-breakpoint($screen-xs, $susy) { background-image: url('../static/images/icons/arrow-up-white.svg'); }
          }
        }

        .event-title {
          border-bottom: 1px solid #ededed;
        }

      }

      footer {
        span.read-more {
          .btn.list { background-color: #e1e2e3; }
        }
      }
    }
  }
}
