.horisontalbar {
  a {
    color: $primary-link-unselected-menu;
    text-decoration: none;
    font-weight: 500;

    &:hover, &:focus {
      color: $primary-link-color;
      span {
        border-bottom: 2px solid $primary-color;
        padding-bottom: 2px;
      }
    }
  }
  &.singleline {
    li {
      text-align: center;
    }
  }
  .list {
    display:flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 0;

    > li {
      padding: 0 15px;
      width: 20%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include susy-breakpoint($screen-sm $screen-md, $susy) {
      > li {
        width: 25%;
      }
    }
    @include susy-breakpoint($screen-s $screen-sm, $susy) {
      > li {
        width: 33.3333%;
      }
    }
    @include susy-breakpoint(0 $screen-s, $susy) {
      justify-content: left;
      > li {
        &:nth-child(2n+1) {
          text-align: right;
        }
        width: 50%;
      }
    }
  }
}