$newsdate-color: #666666;
$teaser-subtitle-color: #b9338b;
$list-bottom-border-color: #ddd;

.no-result-container{
    text-align: center;
    display: none;
    padding-top: 4rem;
    padding-bottom: 15rem;
    .no-result-heading{
        display: inline-block;
        width: 100%;
    }
}

.section.list {
  margin-top: 1rem;
}

.list-container {
  width: 100%;
  li {
    padding-bottom: 3px;
    width: inherit;
  }

  &.loading {
    .loading-indicator {
      display: block;
    }
  }

  .loading-indicator {
    text-align: center;
    font-size: 3.5rem;
    display: none;
    width: 10%;
    margin: 0 auto 1rem auto;
  }

  .search-and-sort {
    width: 100%;
    padding-top: 2rem;
    height: 7.5rem;
    overflow: visible;

    @include susy-breakpoint($screen-xs, $susy) {
      padding-left: 0;
    }
    @include susy-breakpoint($screen-sm, $susy) {
      padding-left: 50%;
    }

    .list-search-container {
      width: 50%;
      float: right;
      padding-bottom: 2rem;

      label {
        @extend %offscreen;
      }

      // Outline with border-radius
      input[type="search"]:focus {
        box-shadow: 0 0 0 1px #7db9f6;
        outline: 0;
      }
    }

    .sort-options-container {
      width: 50%;
      padding-left: 2rem;
      padding-bottom: 2rem;
      float: right;

      .selectric-wrapper {
        width: 100%;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .custom-dropdown-items{
        height: 4.2rem;
      }
    }
  }

  .queried {
    @include Equinor-Medium-italic;
    font-size: 1.5rem;
  }

  > h2 {
    text-align: center;
  }

 .tags-filter {
  @include susy-breakpoint($screen-xs, $susy) { width: 100%; }
  @include susy-breakpoint($screen-md, $susy) { width: 70%; }

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 2rem;

    .tag-filter {
        &-count {
            margin-left: 0.5rem;
        }
    }
  }

  .more-results {
    text-align: center;
    &-btn {
      background: transparent;
      font-size: 2rem;
      color: $black_normal;
      margin-top: 20px;
      margin-bottom: 40px;
      padding: 0.5rem 1rem 0.5rem 1rem;
      cursor: pointer;
      border: 0;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $grey-darker;
      }
      &:disabled {
        color: $list-bottom-border-color;
        cursor: default;
        display: none;
      }
    }
  }
  .loading-indicator-wrapper .loading-indicator {
  color: $slate-blue;
  }
  
}

// Apply a white bg for on lists in news-page, due to the light-gray background-color on this page
.mfp-content,
.gray,
.newsroom-content,
.colctrl.wrapper.light-grey {
  .list-container {
    .list-content {
      background-color: #fff;
    }
  }
}

// Regular list view
.list-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: auto;

  .list-item {
    a{
        text-decoration: none;
        color: inherit;
    }
    &:before {
      content: none;
    }
  }

  .hidden-item {
    display: none;
  }

  .white & .list-content {
    background-color: $light-green-5;
  }

  .list-content {
    background-color: $white;
    display: flex;
    justify-content: space-around;

    width: 100%;
    flex-direction: column;
    @include susy-breakpoint($screen-sm, $susy) {
      flex-direction: row;
      padding: 2rem;
    }
    //}

    .item-image {

        display: block;
        overflow: hidden;
        img {
          vertical-align: top;
          transition: transform 0.3s;
        }

      @include susy-breakpoint($screen-xs, $susy) {
        img {
          width: 100%;
          max-width: 100%;
        }
      }

      @include susy-breakpoint($screen-sm, $susy) {
        align-self: center;
        line-height: 0;
        width: 28%;
         img {
          width: 100%;
          max-width: 100%;
          margin-bottom: 0;
        }
      }
      &:hover  img,
      &:focus  img {
        transform: scale(1.07);
      }
    }

    .item-text {
      padding-top: 2rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      @include susy-breakpoint($screen-sm, $susy) {
        width: 54%;
        padding-top: 0;
        flex-grow: 1;
        p {
          padding-bottom: 0;
        }
      }

        h3 {
          color: #333;
        }


      .item-date {
        @include susy-breakpoint($screen-xs, $susy) {
          display: block;
          margin-bottom: 1.5rem;
          text-transform: uppercase;
          font-size: 1.5rem;
          color: $newsdate-color;
        }

        @include susy-breakpoint($screen-sm, $susy) {
          display: none;
        }
      }
    }

    .item-read-more {
      @include susy-breakpoint($screen-xs, $susy) {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
      }

      @include susy-breakpoint($screen-sm, $susy) {
        text-align: right;
        margin-top: 0;
      }
    }

    .item-meta {
      @include susy-breakpoint($screen-xs, $susy) {
        text-align: center;
      }

      @include susy-breakpoint($screen-sm, $susy) {
        text-align: right;
        align-self: center;
      }

      .item-date {
        @include susy-breakpoint($screen-xs, $susy) {
          display: none;
        }

        @include susy-breakpoint($screen-sm, $susy) {
          display: block;
          margin-bottom: 1.5rem;
          text-transform: uppercase;
          font-size: 1.5rem;
          color: $newsdate-color;
        }
      }
    }
  }
}