
.magazine-article-content, .magazine-content {
  background-color: $light-mist-blue;
  @include susy-breakpoint($screen-xl, $susy) { max-width: 100%; }

  .colctrl-2c,
  .colctrl-3c,
  .colctrl-4c,
  .colctrl-2c-wideleft,
  .colctrl-2c-wideright,
  .cq-colctrl-default {
    // Highlighted and default are there for backward compatibility.
    &.highlighted { background-color: $mist-blue; }
    &.default { background-color: $light-mist-blue; }
  }

}
