.news-content {
  .news-page {
    padding-top: calc(1.5 * var(--space-medium));
    padding-bottom: calc(1.5 * var(--space-medium));

    .header {
      margin: 0 auto;

      // Add padding on each side
      @include susy-breakpoint($screen-xs, $susy) {
        padding-left: calc(calc(3 * var(--space-medium)) / 1.6);
        padding-right: calc(calc(3 * var(--space-medium)) / 1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        padding-left: calc(calc(10 * var(--space-medium)) / 1.6);
        padding-right: calc(calc(10 * var(--space-medium)) / 1.6);
      }

      @include susy-breakpoint($screen-md, $susy) {
        padding-left: calc(15 * var(--space-medium));
        padding-right: calc(15 * var(--space-medium));
      }

      h1 {
        text-align: left;
        padding: 0 1.66666%;
      }

      .date {
        padding: 0 1.66666% calc(0.5 * var(--space-medium));
      }
    }

    .parsys_column.cq-colctrl-default-c0,
    .parsys_column.colctrl-2c,
    .parsys_column.colctrl-2c-wideleft,
    .parsys_column.colctrl-2c-wideright,
    .parsys_column.colctrl-3c,
    .parsys_column.colctrl-4c,
    .parsys_column.colctrl-5c,
    .parsys_column.colctrl-6c,
    .parsys_column.colctrl-7c {

      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;

      // Add padding on each side
      @include susy-breakpoint($screen-xs, $susy) {
        padding-left: calc(calc(3 * var(--space-medium)) / 1.6);
        padding-right: calc(calc(3 * var(--space-medium)) / 1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        padding-left: calc(calc(10 * var(--space-medium)) / 1.6);
        padding-right: calc(calc(10 * var(--space-medium)) / 1.6);
      }

      @include susy-breakpoint($screen-md, $susy) {
        padding-left: calc(15 * var(--space-medium));
        padding-right: calc(15 * var(--space-medium));
      }

    }

    .image .figure-module { margin-bottom: calc(3 * var(--space-medium)); }

  }
}
