.newsroom-body {
  .navigation-fixed_search,.navigation-fixed_language{
    display:none;
  }
}

body.gray {
  background-color: $grey-light;
  > .container {
    background-color: $grey-light;
  }
}

.content.newsroom-content {
  max-width: 100%;
  background-color: $mist-blue;
  margin-top: 0;
  @include susy-breakpoint($screen-xs, $susy) { padding-top: 3rem; }
  @include susy-breakpoint($screen-sm, $susy) { padding-top: 5rem; }

  .list-search-container {
    .search {
      @include susy-breakpoint($screen-sm, $susy) {
        top: -7rem;
      }
    }
  }

  .search-and-sort {
    width: 100%;
    padding-top: 2rem;
    overflow: visible;

    @include susy-breakpoint($screen-xs, $susy) { padding-left: 0; height: 15rem; }
    @include susy-breakpoint($screen-sm, $susy) { padding-left: 20%; height: 7.5rem; }
    @include susy-breakpoint($screen-md, $susy) { padding-left: 30%; }

    .list-search-container {
      @include susy-breakpoint($screen-xs, $susy) {
        width: 100%;
        float: left;
        clear: both;
        padding-bottom: 2rem;
      }

      @include susy-breakpoint($screen-sm, $susy) {
        width: 50%;
        clear: none;
        float: right;
        padding-bottom: 2rem;
      }

      label {
        @extend %offscreen;
      }
      // Outline with border-radius
      input[type=search]:focus {
        box-shadow: 0 0 0 1px #7db9f6;
        outline: 0;
      }
    }

    .sort-options-container {
      @include susy-breakpoint($screen-xs, $susy) {
        width: 100%;
        clear: both;
        padding-left: 0;
        padding-bottom: 2rem;
        float: left;
      }

      @include susy-breakpoint($screen-sm, $susy) {
        width: 25%;
        clear: none;
        padding-left: 2rem;
        padding-bottom: 2rem;
        float: right;
      }

      .selectric-wrapper {
        width: 100%;
        float: left;
      }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
  }

}

  .news-page {
    position: relative;
    width: 100%;
    max-width: calc(110rem / 1.6);
    margin: 0 auto;

    h1 {

      @include susy-breakpoint($screen-xs, $susy) {
        text-align: center;
        padding-top: 8rem;
        padding-bottom: 2rem;
      }

      @include susy-breakpoint($screen-sm, $susy) {
        padding-top: 2rem;
      }

    }
    .button-container {
       margin: 0 3rem;
    }

  }
