.panel-content {
  .page-container {
    margin: 0 auto;
    float:none;

    .section.title > .component-container { padding-top: calc(6 * var(--space-medium)); }
  }
}

.mfp-content {
  .page-container.panel-page { padding: 0; }
  .panel-content { padding: 0 calc(calc(10 * var(--space-medium))/2.02) 0 calc(calc(7 * var(--space-medium))/2.02); }

  .panel-page {
    .cq-colctrl-default
    .colctrl-2c,
    .colctrl-2c-wideleft,
    .colctrl-2c-wideright,
    .colctrl-3c,
    .colctrl-4c {
      padding-left: 0;
      padding-right: 0;
    }

    .parsys_column.cq-colctrl-default-c0,
    .parsys_column.colctrl-2c,
    .parsys_column.colctrl-2c-wideleft,
    .parsys_column.colctrl-2c-wideright,
    .parsys_column.colctrl-3c,
    .parsys_column.colctrl-4c,
    .parsys_column.colctrl-5c,
    .parsys_column.colctrl-6c,
    .parsys_column.colctrl-7c {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .arrow-left {
  	width: 0;
  	height: 0;
  	border-top: calc(2 * var(--space-medium)) solid transparent;
  	border-bottom: calc(2 * var(--space-medium)) solid transparent;
  	border-right: calc(2 * var(--space-medium)) solid #efefef;
  	position: absolute;
      float: left;
      left: calc(-2 * var(--space-medium));
      top: 180px;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }

  .page-footer, footer, .cookie-alert { display:none; }

}
