.circle {
  display: inline-block;
  border: solid 2px transparent;
  background-color: var(--card-background-color);
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.circle:hover {
  border-color: var(--card-focus-ring-color);
}

.circleActive {
  border-color: var(--card-focus-ring-color);
}

.innerCircle {
  border: 1px solid var(--card-hairline-soft-color);
  padding: 15px;
  border-radius: 50%;
}
