.request-consent-container {
  background-color: $primary-color-15;
  border-radius: 4px;
  @include Equinor-Medium;
  color: $slate-blue;
  text-align: center;

  .spruce-wood & {
    background-color: $special-slate-blue-tint;
    color: $white;
    a {
      color: $white;
    }
  }

  p {
    &.request-consent-text {
      padding: 1.5rem 1.5rem;
      @include susy-breakpoint($screen-md, $susy) {
        padding: 1.5rem 6.5rem;
      }
    }
  }

  .colctrl-2c & {
    p {
      &.request-consent-text {
        @include susy-breakpoint($screen-md, $susy) {
          font-size: 1.8rem;
          line-height: 2.8rem;
          padding: 1.5rem 1.5rem;
        }
      }
    }
  }

  .colctrl-3c & {
    p {
      &.request-consent-text {
        @include susy-breakpoint($screen-md, $susy) {
          font-size: 1.6rem;
          line-height: 2.5rem;
          padding: 1.5rem 1.5rem;
        }
      }
    }
  }
}