SANITY_STUDIO_API_PROJECT_ID=
SANITY_STUDIO_API_DATASET=

SANITY_STUDIO_FOTOWARE_CLIENT_ID=
SANITY_STUDIO_FOTOWARE_TENANT_URL=
SANITY_STUDIO_FOTOWARE_REDIRECT_ORIGIN=
SANITY_STUDIO_FOTOWARE_REDIRECT_URI=
SANITY_STUDIO_FOTOWARE_AF_EXPORT_URL=
SANITY_STUDIO_FOTOWARE_AF_EXPORT_KEY=

SANITY_STUDIO_SCREEN9_ACCOUNT_ID=
SANITY_STUDIO_SCREEN9_TOKEN=

