/*
* To change toggle color of sanity ui
*/
[data-ui='Switch'] input:checked + * {
  --switch-bg-color: #0f9d58 !important;
}

.custom-block[data-testid='pt-editor'][data-fullscreen='false'] {
  height: 100px;
}
