.list {
  list-style: none;
  display: flex;
  padding: 1.6rem 0;
  margin: 0;
  flex: 1 1 0px;
  justify-content: center;
}

.item {
  padding: 0;
  margin: 0 0.8rem;
  display: flex;
  flex-direction: column;
  width: 350px;
  background: #ffffff;
}

.date {
  color: #666;
  text-transform: uppercase;
  margin: 1em 0;
}

.title {
  font-size: 2.4rem;
  margin: 1.6rem 0;
  font-weight: 500;
}

.title a:link,
.title a:visited {
  color: inherit;
  text-decoration: inherit;
}

.ingress {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.item-body {
  padding: 0.8rem;
}
