.mfp-fade .mfp-ajax-holder .mfp-content { width: 100%; }

.mfp-fade.mfp-bg {
  opacity: 0;
  background-color: $white;
  transition: all 0.3s ease-out;
}

// Use a lower opacity for browsers that has support for blur (cssanimations)
html.cssanimations {
  .mfp-fade.mfp-bg.mfp-ready { opacity: 1; }
}

// Overlay animate out */
.mfp-fade.mfp-bg.mfp-removing { opacity: 0; }

// Content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  width: 100%;
  transition: all 0.3s ease-out;
}

// Content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1; }

// Content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0; }
