.accordion {
  list-style-type: none;
  background: #fefefe;
  margin: 0;
  padding: 0;
}

.accordion-item {
  padding-bottom: 0;
}

.accordion-item:first-child > :first-child {
  border-radius: 3px 3px 0 0;
}

.accordion-item:last-child > :last-child {
  border-radius: 0 0 3px 3px;
}

.accordion-title {
  display: block;
  padding: 0 0 calc(2 * var(--space-medium)) var(--space-medium);
  line-height: 1;
  font-size: calc(1.5 * var(--space-medium));
  position: relative;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
}

:last-child:not(.is-active) > .accordion-title {
  border-radius: 0 0 3px 3px;
  border-bottom: 1px solid #e6e6e6;
}

.accordion-title:hover, .accordion-title:focus {
  background-color: #e6e6e6;
}

.accordion-title::before {
  content: '+';
  position: absolute;
  right: var(--space-medium);
  top: 50%;
  margin-top: calc(-0.5 * var(--space-medium));
}

.is-active > .accordion-title::before {
  content: '–';
}

.accordion-content {
  display: none;
  border:0 ;
}

.accordion-container-heading {
    text-align: center;
    font-size: medium;
    color: #999999;
}
