//Colors
$alternate-color: #333333;
$banner-color: #FFF;

.bannerinline-container {
  .banner-section { position:relative; }

  .banner {
    height: auto;
    min-width: 100%;
    margin-bottom:0;

    @include susy-breakpoint($screen-xs, $susy) {
      min-height: calc(calc(30 * var(--space-medium))/1.6);
    }

    @include susy-breakpoint($screen-sm, $susy) {
      min-height: calc(calc(30 * var(--space-medium))/2.01);
    }

    a { text-decoration: none; }

    h1, h2, h3, h4, span {
      color: $banner-color;
      @include Equinor-Medium;
      &.shadow {
        @include susy-breakpoint($screen-xs, $susy) {
        text-shadow: calc(calc(.1 * var(--space-medium))/1.6) calc(calc(.1 * var(--space-medium))/1.6) 0 rgba(0,0,0,.75);
        }
        @include susy-breakpoint($screen-sm, $susy) {
          text-shadow: calc(calc(.1 * var(--space-medium))/2.01) calc(calc(.1 * var(--space-medium))/2.01) 0 rgba(0,0,0,.75);
        }
      }
      &.light-shadow {
        @include susy-breakpoint($screen-xs, $susy) {
          text-shadow: calc(calc(.1 * var(--space-medium))/1.6) calc(calc(.1 * var(--space-medium))/1.6) 0 rgba(225,225,225,.75);
          }
          @include susy-breakpoint($screen-sm, $susy) {
            text-shadow: calc(calc(.1 * var(--space-medium))/2.01) calc(calc(.1 * var(--space-medium))/2.01) 0 rgba(225,225,225,.75);
          }
      }
      &.alternate { color: $alternate-color; }

    }

    span {
      display: block;

      @include susy-breakpoint($screen-xs, $susy) {
        margin-bottom: $default-margin-bottom-xs;
        font-size: calc(calc(2 * var(--space-medium))/1.6);
        line-height: calc(calc(2 * var(--space-medium))/1.6);
      }
      @include susy-breakpoint($screen-sm, $susy) {
        font-size: calc(calc(2 * var(--space-medium))/2.01);
        line-height: calc(calc(2 * var(--space-medium))/2.01);
      }

      @include susy-breakpoint($screen-md, $susy) { margin-bottom: $default-margin-bottom-md; }
    }

    img {
      width: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      float: none;
      padding: 0;
      max-width: none;
      height: auto !important;
      vertical-align: middle;

      @include susy-breakpoint($screen-xs, $susy) {
        min-height: calc(calc(30 * var(--space-medium))/1.6);
        height: calc(calc(30 * var(--space-medium))/1.6); // IE treats height how min-height is supposed to be treated.
        max-height: calc(calc(30 * var(--space-medium))/1.6); // IE needs a max-height in order to prevent the image from getting huge
      }

      @include susy-breakpoint($screen-sm, $susy) {
        min-height: calc(calc(45 * var(--space-medium))/2.01);
        height: calc(calc(45 * var(--space-medium))/2.01); // IE treats height how min-height is supposed to be treated.
        max-height: (calc(45 * var(--space-medium))/2.01); // IE needs a max-height in order to prevent the image from getting huge
      }

    }

    figure {
      float: none;
      position: relative;
      overflow: hidden;
    }

    &.text-inside {
     .banner-content {

        display: flex;

        &.align-center { align-items: center; }
        &.align-top { align-items: flex-start; }
        &.align-bottom { align-items: flex-end; }

        position: absolute;
        top: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        text-align: center;

        @include susy-breakpoint($screen-xs, $susy) { padding: 0 calc(var(--space-medium)/1.6); }
        @include susy-breakpoint($screen-sm, $susy) { padding: 0 calc(calc(5 * var(--space-medium))/2.01); }

        .banner-content-wrapper {
          width: 100%;
          padding-top: 10%;
          padding-bottom: 10%;
        }

        .banner-text {
          width: 100%;

        }

      }
    }

  }
}
.magazine-article-content, .magazine-content {
  .banner,.bannerinline-container,.bannerquote.section figure {
    &.overlay {
      &-top:before, &-top-alternate:before {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0;
      }

      &-top:before {
        background-position: left top;
        background-size: 105% auto;
      }

      &-top-alternate:before {
        background-position: left top;
        background-size: 105% auto;
      }

      &-bottom:after, &-bottom-alternate:after {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
      }
      &-bottom:after {
        background-position: left bottom;
        background-size: 105% auto;
      }
      &-bottom-alternate:after {
        background-position: left bottom;
        background-size: 105% auto;
      }
    }
  }
}
