@import '../core/_core-variables.scss';
@import '../core/core-colors';

$primary-color-hover: #F9B2C3;
$secondary-color-hover: #A8CED1;
$white-color-hover: rgba(255,255,255,0.5);

.colctrl-2c,
.colctrl-3c,
.colctrl-4c,
.colctrl-5c,
.colctrl-7c,
.colctrl-2c-wideleft,
.colctrl-2c-wideright,
.cq-colctrl-default {

    .basicaccordionitem {
        .basicaccordion-header {
            color: $default-font-text-color;

            &:hover, &:focus {
                @media (hover: hover) and (pointer: fine){
                    .si-basic-accordion {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .red_theme {
        .basicaccordionitem {
            .basicaccordion-header {
                color: $primary-color;
                &:hover, &:focus {
                    @media (hover: hover) and (pointer: fine){
                        .si-basic-accordion {
                            color: $primary-color;

                            &::before {
                                background-color: $primary-color-hover;
                            }
                        }
                    }
                }
            }
        }
    }

    .green_theme {
        .basicaccordionitem {
            .basicaccordion-header {
                color: $secondary-color;

                &:hover, &:focus {
                    @media (hover: hover) and (pointer: fine){
                        .si-basic-accordion {
                            color: $secondary-color;

                            &::before {
                                background-color: $secondary-color-hover;
                            }
                        }
                    }
                }
            }
        }
    }

    &.magenta-promo,
    &.blue-promo,
    &.mid-grey-promo,
    &.dark-grey-promo,
    &.primary-100,
    &.slate-blue,
    &.heritage-red {
        .basicaccordionitem {
            .basicaccordion-header {
                color: $white;

                &:hover, &:focus {
                    @media (hover: hover) and (pointer: fine){
                        .si-basic-accordion {
                            color: $white;

                            &::before {
                                background-color: $white-color-hover;
                            }
                        }
                    }
                }
            }

            .basicaccordion-body {
                color: $white;
            }
        }
    }
}

.basicaccordion {
    .basicaccordionitem {
        border-bottom: calc(calc(0.1 * var(--space-medium))/1.6) solid $black_light;
        padding: calc(calc(0.2 * var(--space-medium))/1.6) 0;

        &:first-child {
            border-top: calc(calc(0.1 * var(--space-medium))/1.6) solid $black_light;
        }

        .basicaccordion-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: calc(calc(1.2 * var(--space-medium))/1.6) calc(calc(2 * var(--space-medium))/1.6) calc(calc(1.2 * var(--space-medium))/1.6) calc(calc(2 * var(--space-medium))/1.6);

            h2,h3,h4,p {
                width: 95%;
                padding-bottom: 0;
                text-align: left;
                font-size: calc(calc(2 * var(--space-medium))/1.6);
                line-height: calc(calc(3.2 * var(--space-medium))/1.6);
                margin-bottom: 0;
                text-transform: none;
            }

            .si-basic-accordion {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: calc(calc(2 * var(--space-medium))/1.6);
                width: calc(calc(2 * var(--space-medium))/1.6);
                font-size: calc(calc(2 * var(--space-medium))/1.6);
                line-height: calc(calc(2.8 * var(--space-medium))/1.6);

                &::before {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                    transition: transform 0.2s;
                }
            }
        }

        .basicaccordion-body {
            display: none;
            position: relative;
            bottom: calc(calc(1.2 * var(--space-medium))/1.6);

            p {
                padding: 0 calc(calc(4 * var(--space-medium))/1.6) 0 calc(calc(2 * var(--space-medium))/1.6);

                .red-text {
                    color: $primary-color;
                }

                .green-text {
                    color: $secondary-color;
                }
            }
            ul,ol{
                padding-left: calc(calc(4 * var(--space-medium))/1.6);
            }
        }


        &.basicaccordionitem-open {
            .basicaccordion-header {
                .si-basic-accordion::before {
                    transform: rotate(180deg);
                    transform-origin: center;
                }
            }
        }
    }

    .cmp-container {
        margin-bottom: calc(calc(2.5 * var(--space-medium))/1.6);
        &.space-below_none {
            margin-bottom: 0;
        }
        &.space-below_normal {
            margin-bottom: calc(calc(1.5 * var(--space-medium))/1.6);
        }
        &.space-below_big {
            margin-bottom: calc(calc(4.5 * var(--space-medium))/1.6);
        }
    }
}

@media (max-width: $screen-s) {
    .basicaccordion {
        max-width: none;
        margin: 0 calc(calc(-3 * var(--space-medium))/1.6);
    }
}

.basicaccordion-container-heading {
     text-align: center;
     font-size: medium;
     color: #999999;
}

