//  Button variables (Local, could be inherited)
//  ---------------------------------------------------------------------------------------
$magazine-button-color: $primary-color;
$magazine-button-color-active: $primary-color-dark;
$magazine-button-text-color: #FFFFFF;
$magazine-button-hover-color: $primary-color-dark;

$magazine-inverted-button-color: white;
$magazine-inverted-button-color-active: $primary-color-light;
$magazine-inverted-button-text-color: $black_normal;
$magazine-inverted-button-hover-color: $primary-color-light;

$blue-button-text-color: white;
$blue-button-color-active: $secondary-color-dark;
$blue-button-hover-color: $secondary-color-dark;
$blue-button-border-color: $secondary-color;
$blue-button-color: $secondary-color;

$blue-inverted-button-background: white;
$blue-inverted-button-background-active: $secondary-color-light;
$blue-inverted-button-hover-color: $secondary-color-light;
$blue-inverted-button-border-color: $secondary-color;
$blue-inverted-button-text-color: $black_normal;

$button-background: white;
$button-hover-color: $primary-color-light;
$button-active-color: $primary-color-light;
$button-border-color: $primary-color;
$button-text-color: $black_normal;

$inverted-button-background: white;
$inverted-button-background-active: $primary-color-light;
$inverted-button-hover-color: $primary-color-light;
$inverted-button-border-color: $primary-color;
$inverted-button-text-color: $black_normal;

$grey-button-color: #E8E9ED;
$grey-button-color-active: #cccccc;
$grey-button-text-color: $black_normal;
$grey-button-hover-color: #d5d7db;

$download-button-background: $primary-color;
$download-button-text: white;
$download-button-hover-background: $primary-color-dark;
$download-button-border: $primary-color;
$download-button-icon: $primary-color-light;
$download-button-filesize: $black_light;

$inverted-download-button-background: white;
$inverted-download-button-text: $black_normal;
$inverted-download-button-hover-background: $primary-color-light;
$inverted-download-button-border: $primary-color;
$inverted-download-button-icon: $primary-color;

$tools-download-button-background: $secondary-color;
$tools-download-button-text: white;
$tools-download-button-hover-background: $secondary-color-dark;
$tools-download-button-border: $secondary-color;
$tools-download-button-icon: $primary-color-light;
$tools-download-button-filesize: $black_light;

$tools-inverted-download-button-background: white;
$tools-inverted-download-button-text: $black_normal;
$tools-inverted-download-button-hover-background: $secondary-color-light;
$tools-inverted-download-button-border: $secondary-color;
$tools-inverted-download-button-icon: $secondary-color;

$filter-button-text-color: $black_normal;
$filter-button-color: #d2d2d2;
$filter-button-active-text-color: #ffffff;
$filter-button-active-color: #808080;

$xs-medium-font-size: calc(calc(1.3 * var(--space-medium)) / 2.02);
$xs-medium-height: 2px;
$xs-medium-padding-sides: calc(calc(2.5 * var(--space-medium)) / 2.02);
$xs-medium-chevron-size: calc(calc(1.45 * var(--space-medium)) / 2.02);

$xs-large-font-size: calc(calc(1.4 * var(--space-medium)) / 1.6);
$xs-large-height: 2px;
$xs-large-padding-sides: calc(calc(2.5 * var(--space-medium)) / 1.6);
$xs-large-chevron-size: calc(calc(1.6 * var(--space-medium)) / 1.6);

$sm-medium-font-size: calc(calc(1.4 * var(--space-medium)) / 2.02);
$sm-medium-height: 3px;
$sm-medium-padding-sides: calc(calc(2.5 * var(--space-medium)) / 2.02);
$sm-medium-chevron-size: calc(calc(1.45 * var(--space-medium)) / 2.02);

$sm-large-font-size: calc(calc(1.6 * var(--space-medium)) / 2.02);
$sm-large-height: 3px;
$sm-large-padding-sides: calc(calc(3 * var(--space-medium)) / 2.02);
$sm-large-chevron-size: calc(calc(1.85 * var(--space-medium)) / 2.02);

$lg-medium-font-size: calc(calc(1.6 * var(--space-medium)) / 2.02);
$lg-medium-height: 4px;
$lg-medium-padding-sides: calc(calc(2.5 * var(--space-medium)) / 2.02);
$lg-medium-chevron-size: calc(calc(1.45 * var(--space-medium)) / 2.02);

$lg-large-font-size: calc(calc(1.8 * var(--space-medium)) / 2.02);
$lg-large-height: 4px;
$lg-large-padding-sides: calc(calc(3.5 * var(--space-medium)) / 2.02);
$lg-large-chevron-size: calc(calc(2 * var(--space-medium)) / 2.02);

$line-height: calc(calc(1.8 * var(--space-medium)) / 1.6);
$size-factor-xs: 1.6;
$size-factor-sm: 2.02;


//  Button module
//  ---------------------------------------------------------------------------------------

@mixin button-size-mixin($font-size, $height, $padding, $chevron-size, $size-factor) {
  font-size: $font-size;
  height: auto;
  line-height: $line-height;
  border-radius: $height;
  padding: calc(var(--space-medium) / #{$size-factor}) $padding;

  &.filter {
    padding-right: $padding;
    &:hover { cursor: pointer; }
  }
}

.button, .download {
  .button-focus-catcher {
    &:focus {
      outline: none;
    }
  }
  .button-content {
     text-align:center;

     &.left {
       text-align:left;
       position: relative;
     }

     &.right{
       text-align:right;
       position: relative;
     }

     &.center { text-align:center;
     }
  }

  .justified {
    text-align: center;
    a {
      width: 100%;
      text-align: left;

      .meta { float: right; }
      &:after { float: right; }
    }
  }
}

.btn {
  @include Equinor-Medium;
  max-width: 100%;
  border: 1px solid $button-border-color;
  background-color: $button-background;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: calc(calc(2 * var(--space-medium)) / 1.6); // TODO check how clamp works
  -moz-border-radius: calc(calc(2 * var(--space-medium)) / 1.6);
  border-radius: calc(calc(2 * var(--space-medium)) / 1.6);
  text-shadow: none;
  white-space: normal;
  margin: 0 auto calc(var(--space-medium) / 2.02);
  cursor: pointer;

  // Animated buttons start

  -webkit-backface-visibility: hidden;
  transition: border-color 0.4s, color 0.4s, background-color 0.2s;
  position: relative;
  z-index: 1;

  &.inrow {
    margin-right: 10px;
  }

  color: $button-text-color;
  &:hover, &:focus {
    background-color: $button-hover-color;
    color: $button-text-color;
  }

  &:focus {
    outline: none;
  }
  // Animated buttons end

  &.medium.narrow, &.large.narrow {
    padding-top: calc(calc(.5 * var(--space-medium)) / 1.6);
    padding-bottom: calc(calc(.5 * var(--space-medium)) / 1.6);
  }

  &.large {
    @include Equinor-Medium;
  }

  &.download, &.add-to-calendar {
    color: $download-button-text;
    background-color: $download-button-background;
    display: inline-flex;
    &:hover, body[data-whatinput=keyboard] &:focus { background-color: $download-button-hover-background; }
    justify-content: space-between;
    &:active { background-color: $download-button-hover-background; }

    .button-text {
      display: inline-block;
      margin-right: 5px;
    }

    .meta {
      display: inline-block;
      height: calc(calc(1.8 * var(--space-medium)) / 1.6);
      position: relative;
      white-space: nowrap;
    }

    .extension, .filesize {
      text-transform: uppercase;
      white-space: nowrap;
      margin-left: 5px;
    }

    .icon {
      vertical-align: top;
      padding-left: calc(calc(.3 * var(--space-medium)) / 1.6);
      padding-right: calc(calc(.3 * var(--space-medium)) / 1.6);
      top: 0;
      left: calc(calc(-2.2 * var(--space-medium)) / 1.6);
      font-size: calc(calc(1.4 * var(--space-medium)) / 1.6);
    }

    .button-text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      margin-top: -5px; //hack to make sure the o on capital å is not hidden by overflow hidden
      padding-top: 5px;
    }
  }

  &.default ,&.list {
    &:hover, body[data-whatinput=keyboard] &:focus { background-color: $button-hover-color; } // Hover color for magazine buttons used by css3 animation effect

    color: $button-text-color;
    background-color: $button-background;

    &:active { background-color: $button-active-color; }
  }


  &.default-inverted {

    &:hover, body[data-whatinput=keyboard] &:focus { background-color: $inverted-button-hover-color; } // Hover color for inverted buttons used by css3 animation effect
    border-color: $inverted-button-border-color;
    color: $inverted-button-text-color;
    background-color: $inverted-button-background;

    &:active { background-color: $inverted-button-background-active; }
  }

   &.panel {
      @extend .default;
  }

  &.panel-inverted {
    @extend .default-inverted;
  }

  //Backward compability by including .partner
  &.partner, &.tools {

    &:hover, body[data-whatinput=keyboard] &:focus { background: $blue-button-hover-color; } // Hover color for tools buttons used by css3 animation effect
    border-color: $blue-button-border-color;
    background-color: $blue-button-color;
    color: $blue-button-text-color;

    &:active { background-color: $blue-button-color-active; }
  }

  &.tools-inverted {
    &:hover, body[data-whatinput=keyboard] &:focus { background-color: $blue-inverted-button-hover-color; } // Hover color for tools buttons used by css3 animation effect

    background-color: $blue-inverted-button-background;
    color: $blue-inverted-button-text-color;
    border-color: $blue-inverted-button-border-color;
    &:active { background-color: $blue-inverted-button-hover-color; }
    &.is-active {
      color: $white;
      background: $blue-inverted-button-border-color;
    }
    .extension { color: $blue-inverted-button-border-color; }
    .icon { color: $blue-inverted-button-border-color; }
    .filesize { color: $grey-darker; }
  }

  &.magazine{

    &:hover, body[data-whatinput=keyboard] &:focus { background-color: $magazine-button-hover-color; } // Hover color for magazine buttons used by css3 animation effect

    color: $magazine-button-text-color;
    background-color: $magazine-button-color;

    &:active { background-color: $magazine-button-color-active; }
    &:disabled{
      background-color: $disabled-button-background;
      color: $disabled-text-color;
      border-color: $disabled-button-border;
    }

  }

  &.magazine-inverted {
    &:hover, body[data-whatinput=keyboard] &:focus { background-color: $magazine-inverted-button-hover-color; } // Hover color for magazine buttons used by css3 animation effect

    color: $magazine-inverted-button-text-color;
    background-color: $magazine-inverted-button-color;

    &:active { background-color: $primary-color; }
    .extension { color: $inverted-button-border-color; }
    .icon { color: $inverted-button-border-color; }
    .filesize { color: $grey-darker; }
  }


  @include susy-breakpoint($screen-xs, $susy) {
    &.medium {
      @include button-size-mixin($xs-medium-font-size, $xs-medium-height, $xs-medium-padding-sides, $xs-medium-chevron-size, $size-factor-xs);
    }

    &.large {
      @include button-size-mixin($xs-large-font-size, $xs-large-height, $xs-large-padding-sides, $xs-large-chevron-size, $size-factor-xs);
    }
  }

  @include susy-breakpoint($screen-sm, $susy) {
    &.medium {
      @include button-size-mixin($sm-medium-font-size, $sm-medium-height, $sm-medium-padding-sides, $sm-medium-chevron-size, $size-factor-sm);
    }

    &.large {
      @include button-size-mixin($sm-large-font-size, $sm-large-height, $sm-large-padding-sides, $sm-large-chevron-size, $size-factor-sm);
    }
  }

  @include susy-breakpoint($screen-lg, $susy) {
    &.medium {
      @include button-size-mixin($lg-medium-font-size, $lg-medium-height, $lg-medium-padding-sides, $lg-medium-chevron-size,2.02);
    }

    &.large {
      @include button-size-mixin($lg-large-font-size, $lg-large-height, $lg-large-padding-sides, $lg-large-chevron-size,2.02);
    }
  }
}

.add-to-calendar {
  @extend .btn;
  @extend .medium;

  &:hover, body[data-whatinput=keyboard] &:focus {
    background-color: $primary-color-dark;
  }

  &.space-below_normal { margin-bottom: calc(calc(1.5 * var(--space-medium)) / 1.6); }
  &.space-below_big { margin-bottom:calc(calc(4.5 * var(--space-medium)) / 1.6); }

  &:after {
    content: unquote('"\f133"');
    font-family: 'FontAwesome';
    margin-left: calc(var(--space-medium) / 1.6);
    padding-left: calc(var(--space-medium) / 1.6);
    border-left: 1px solid $grey;
    color: $white;
  }

}
