// Background-color, arrow and button color will respect the parent colctrl type

.cq-colctrl-default {

  section.calendar-container {

    // slider specific style
    .events-container.list-view.slider > article.calendar-item {
      header{
        @include susy-breakpoint(0 $screen-sm, $susy) {
          .event-date{
              border-bottom-width:  3px;
          }
          .event-title {
            border-bottom-width:  0px;
            .meta {
              .eventtype {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .events-container.list-view > article.calendar-item {
      margin-bottom: 3px;

      header {

        @include susy-breakpoint($screen-xs, $susy) {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        @include susy-breakpoint($screen-sm, $susy) { flex-direction: row; }

        .event-date {
          border-bottom: 1px solid #FFF;

          @include susy-breakpoint($screen-xs, $susy) {
            display: flex;
            background-color: $secondary-color;
            width: 100%;
            height: calc(15 * var(--space-medium));
            position: relative;
          }

          @include susy-breakpoint($screen-sm, $susy) { width: 50%; }
          @include susy-breakpoint($screen-md, $susy) { width: 35%; }

          .date-container {
            width: 100%;
            text-align: center;
            align-self: center;
            padding: 0 calc(2 * var(--space-medium));
          }

          span {
            color: #fff;

            &.day {
              @include Equinor-Light;
              font-size: calc(3.5 * var(--space-medium));
              padding-right: calc(0.5 * var(--space-medium));
            }

            &.month {
              @include Equinor-Light;
              font-size: calc(3.5 * var(--space-medium));

            }

          }
        }

        .event-title {
          flex-direction: row;
          padding: 0 calc(2 * var(--space-medium));
          border-bottom: 1px solid #FFF;
          background-color: $secondary-color-light-bg;

          @include susy-breakpoint($screen-xs, $susy) { width: 100%; }
          @include susy-breakpoint($screen-sm, $susy) { width: 75%; }

          h2 {
            @include Equinor-Medium;
            font-size: calc(1.8 * var(--space-medium));
            line-height: 1.4;
            padding-top: calc(2 * var(--space-medium));
            padding-bottom: var(--space-medium);
            padding-right: 0;
            margin-bottom: var(--space-medium);
            width: 100%;
            color: $secondary-color;
          }

          .meta {
            display: block;
            width: 100%;

            .eventtype {
              @include Equinor-Medium;
              width: 50%;
              font-size: calc(1.6 * var(--space-medium));
              float: left;
              margin-bottom: calc(2 * var(--space-medium));
            }

            span.read-more {

              @include susy-breakpoint($screen-xs, $susy) { display: none; }
              @include susy-breakpoint($screen-md, $susy) {
                display: block;
                width: 50%;
                float: right;
                text-align: right;
                margin-top: calc(-1.3 * var(--space-medium));
                padding-right: calc(2 * var(--space-medium));
                .btn.list { background-color: #fff; }
              }
            }
          }
        }
      }

      footer {
        display: flex;
        flex-direction: column;
        padding: calc(2 * var(--space-medium));
        background-color: $secondary-color-light-bg;
        .meta {

          @include susy-breakpoint($screen-xs, $susy) {
            display: flex;
            flex-direction: column;
            align-items: baseline;
          }

          @include susy-breakpoint($screen-md, $susy) {
            flex-direction: row;
          }

          span > .fa {
            color: $primary-color;
            padding-right: var(--space-medium);
          }


          .location, .time, .add-event {
            @include Equinor-Bold;
            font-size: calc(1.5 * var(--space-medium));
            line-height: 1.2;
          }

          .location {
            width: 100%;

            @include susy-breakpoint($screen-md, $susy) {
              display: flex;
              width: 33%;
              flex-grow: 1;
            }

            .si {
              color: $primary-color;
              padding-right: var(--space-medium);
              &:before {
                font-weight: 700;
              }
            }
          }

          .time {
            width: 100%;

            @include susy-breakpoint($screen-md, $susy) {
              display: flex;
              width: 33%;
              flex-grow: 1;
              padding-left: calc(2 * var(--space-medium));
            }
          }

          .add-event {
            @include Equinor-Medium;
            color: #775D72;
            width: 100%;

            @include susy-breakpoint($screen-md, $susy) {
              display: flex;
              width: 33%;
              flex-grow: 1;
              padding-left: calc(2 * var(--space-medium));
            }

            a {
              cursor: pointer;
              text-decoration: none;
              color: $primary-color;

              &:visited {
                color: $primary-color-dark;
              }
            }

          }

          span.read-more {

            @include susy-breakpoint($screen-xs, $susy) {
              display: block;
              width: 100%;
              text-align: center;
              margin: calc(2 * var(--space-medium)) 0 0 0;

              .btn.list { background-color: #fff; }
            }

            @include susy-breakpoint($screen-md, $susy) { display: none; }

          }

        }
      }
    }
  }

  &.light-grey {

    section.calendar-container > .events-container.list-view > article.calendar-item {
      background-color: #fff;

      header {
        .event-date {
          &:before {
            @include susy-breakpoint($screen-xs, $susy) { background-image: url('../static/images/icons/arrow-up-white.svg'); }
          }
        }

        .event-title {
          border-bottom: 1px solid #ededed;
          .meta > .read-more > .btn.list { background-color: #e1e2e3; }
        }

      }

      footer {
        span.read-more > .btn.list { background-color: #e1e2e3; }
      }
    }
  }

}
