$t: '.slide-text';
$b: '.backplate';
$expandwidth: 50%;

.carousel:not(.banner-top){
  @include susy-breakpoint($screen-sm, $susy) {
    h1 {
      font-size: calc(3.2 * var(--space-medium));
      line-height: calc(4 * var(--space-medium));
    }
    .slick-slider{
      .slick-slide{
        &.placement-right {
          #{$t}{
            margin-right: $expandwidth/5;
          }
        }
      }
    }
  }
}
.carousel.banner-top {
  .slick-dots li {
	&.slick-active button:before, body:not([data-whatinput=touch]) &:hover button:before {
	  background: $slate-blue;
	}
	button:before {
	  border-color: $slate-blue;
	  opacity: 1;
	}
	@include susy-breakpoint($screen-sm, $susy) {
	  &.slick-active button:before, body:not([data-whatinput=touch]) &:hover button:before {
        background: $white;
      }
      button:before {
        border-color: white;
        opacity: 1;
      }
	}
  }
}
.slider-prev {
  left: -50px;
}
.slider-next {
  right: -50px;
}

body:not([data-whatinput=keyboard]) {
  .slick-slide:focus {
    outline: none;
  }
}

.slick-slider {
  h1, h2, h3 {
    @include Equinor-Medium;
  }
  .slide-information {
    margin-top: var(--space-medium);
    font-size: 16px;
	line-height: 20px;
    width: 100%;
  }

  .slick-dots{
    position:absolute;
    bottom: 20px;
    z-index: 1;

    li {
      width: 22px;
      height: 25px;
      margin:0;
      button {
        width: 15px;
        height: 15px;
        body[data-whatinput=keyboard] &:focus {
                outline: 5px auto -webkit-focus-ring-color;
              }
      }
      button:before {
        content: '';
        border: 2px solid $slate-blue;
        border-radius: 50%;
        width: 15px;
        height: 15px;
      }
      &.slick-active button:before, body:not([data-whatinput=touch]) &:hover button:before {
        background: $slate-blue;
      }
    }
    &.no-backplate #{$b} {
      position: absolute;
      top: 0;
      width: 33%;
      height: 100%;
    }
  }
  .slick-slide {
    cursor: pointer;
    $sidepadding: 100px;

    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .slide-text {
      position: relative;
      width: 100%;
      .slide-title {
        margin-bottom: calc(1.9 * var(--space-medium));
        font-size: calc(3.2 * var(--space-medium));
        line-height: calc(4 * var(--space-medium));
        font-weight: 500;
      }
      a.btn {
        background: transparent;
        border: 0;
        padding: 0;
        &:focus {
        outline: 5px auto -webkit-focus-ring-color;
        }
      }
    }
    &.placement-left, &.placement-right {
      display: flex;
      flex-wrap: wrap;
    }
    .slide-image-container {
      width:60%;
    }
    &.placement-center .slide-image-container {
      width: 100%;
    }

    &.placement-left #{$t}{
      margin-left: $expandwidth/5;
      margin-right: $expandwidth/10;
      #{b}{
        left: 0;
      }
    }
    &.placement-right {
      flex-direction: row-reverse;
      #{b}{
        right: 0;
      }

      #{$t}{
        text-align: right;
        margin-left: $expandwidth/10;
        margin-right: $expandwidth/2.5;
      }
    }
    @include susy-breakpoint($screen-sm, $susy) {
      &.textcolor-white #{$t} {
        color:$white;
          a.btn {
            color: $white;
          }
      }
    }
    &.shadow-dark #{$t}{
      text-shadow: 1px 1px 1px rgba(0,0,0,.5);
      a.btn {
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
      }
    }
    &.shadow-white #{$t}{
      text-shadow: 1px 1px 1px rgba(255,255,255,.5);
      a.btn {
        text-shadow: 1px 1px 1px rgba(255,255,255,.5);
      }
    }

    &.slick-active .slide-text{
      opacity: 1;
    }

    h1 {
      margin-bottom: calc(1.9 * var(--space-medium));
    }
    .slide-description{
      font-size: calc(2.5 * var(--space-medium));
      line-height: calc(3.5 * var(--space-medium));
      margin-bottom: calc(3 * var(--space-medium));
    }

    .backplate {
      width: 40%;
      display: flex;
      align-items: center;
      &.pastel_green {
        background-color: $pastel-green;
      }
      &.pastel_red {
        background-color: $pastel-red;
      }
      &.mist_blue {
        background-color: $mist-blue;
      }
    }
  }
  &.slick-dotted {
    @include susy-breakpoint($screen-sm, $susy) {
      margin-bottom: 0 !important;
    }
  }
}

$s: '.slick-slider';
.colctrl{
  #{$s} .slick-dots{
    position: static;
  }
  &.heritage-red, &.slate-blue, &.primary-100 {
    #{$s} .slick-dots {
      & button:before {
        border-color: $white;
      }
      & li.slick-active button:before, body:not([data-whatinput=touch]) & li:hover button:before {
        background: $white;
      }
    }
    @include susy-breakpoint(0 $screen-sm, $susy) {
      .slide-text {
        color: $white;
        a {
          color: $white;
        }
      }

    }
    #{$s} .slide-information {
      color: $white;
    }
  }
}

// Mobile mode specific
@include susy-breakpoint(0 $screen-sm, $susy) {
  .slick-slider {
    .slick-dots{
      bottom: -20px;
      li {
        button:before {
          border: 2px solid $primary-link-color;
        }
        &.slick-active button:before, body:not([data-whatinput=touch]) &:hover button:before {
          opacity: 1;
        }
      }
    }

    .shadow-dark #{$t}, .shadow-white #{$t}{
      text-shadow: none !important;
      a.btn {
        text-shadow: none !important;
      }
    }
    .slide-information {
      padding: 0 20px;
    }

    .slick-track {
      .backplate {
        background-color: transparent !important;
        width: 100%;
        order: 2;
      }
      .slick-slide {
        &.placement-left, &.placement-right, &.placement-center {
          display: flex;
          flex-direction: column;
          .slide-text {
            margin: auto;
            text-align: center;
          }
        }
      }
      .slide-image-container {
        width: 100%;
      }
      .slide-text {
        padding: calc(2 * var(--space-medium)) var(--space-medium) var(--space-medium) var(--space-medium);
        width: 100%;
        min-height: 30%;
        order: 2;
        text-align: center;
        &:empty {
          display: none;
        }

        .slide-description {
          display: none;
        }
        h1{
          margin-bottom: var(--space-medium);
        }
        a.btn:before {
          left: calc(-1 * var(--space-medium));
        }
      }
    }
  }

  .page-container .parsys_column.cq-colctrl-default-c0 .slick-slider{
    margin-left: calc(-3 * var(--space-medium));
    margin-right: calc(-3 * var(--space-medium));
  }

}

// Desktop mode specific
@include susy-breakpoint($screen-sm, $susy) {
  .slick-slide {
    .slide-text {
      transition: opacity 1s 0.45s;
      opacity: 0;
      z-index: 2;
    }
    &.placement-center #{$b} {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: none;
      #{$t}{
        text-align: center;
      }
    }
  }
}

.slideshow{
  &.space-below_none{
    margin-bottom: 0 !important;
  }
  &.space-below_normal{
    margin-bottom: calc(1.5 * var(--space-medium)) !important;
  }
  &.space-below_big{
    margin-bottom: calc(4.5 * var(--space-medium)) !important;
  }
}

.carousel-placeholder-height{
	height: calc(50 * var(--space-medium)) !important;
}

