//  Backgrounds and paddings
//  ---------------------------------------------------------------------------------------

$section-background-color-dark: #efefef;
$section-border-color-dark: #dedede;

$xs-padding:calc(calc(3 * var(--space-medium)) / 1.6);
$sm-padding:calc(calc(5 * var(--space-medium)) / 1.6);
$md-padding:calc(calc(5 * var(--space-medium)) / 1.6);
$lg-padding:calc(calc(5 * var(--space-medium)) / 1.6);

$sm-base-padding:calc(calc(5 * var(--space-medium)) / 1.6);
$md-base-padding:calc(calc(10 * var(--space-medium)) / 1.6);


//  Outer wrapper for all colctrl components
//  ---------------------------------------------------------------------------------------

.colctrl.wrapper {
  overflow: hidden; // Make sure the height on the wrapper is equal to the child elements
}


//  Page container and inner colctrl wrappers
//  ---------------------------------------------------------------------------------------

.page-container {
  @include span(12 nest);
  min-height: calc(calc(38 * var(--space-medium)) / 1.6);

  @include susy-breakpoint($screen-xl, $susy) {
    max-width: 100%;
  }

    // Inner wrappers for all column controls
    .parsys_column.cq-colctrl-default-c0,
    .parsys_column.colctrl-2c,
    .parsys_column.colctrl-2c-wideleft,
    .parsys_column.colctrl-2c-wideright,
    .parsys_column.colctrl-3c,
    .parsys_column.colctrl-4c,
    .parsys_column.colctrl-5c,
    .parsys_column.colctrl-6c
     {

      max-width: calc(calc(140 * var(--space-medium)) / 1.6);
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;

      @media (max-width: $screen-sm){
         &.slider{
        			display: flex;
        			overflow: auto;
        			padding-left: 0;
        			padding-right: 0;
        			margin-left: calc(calc(3 * var(--space-medium)) / 1.6);
        			margin-right: calc(calc(3 * var(--space-medium)) / 1.6);
        			&>div{
        				flex: none;
        				width: 45%;
        				&:not(:first-child){
                            margin-left: calc(calc(1.5 * var(--space-medium)) / 1.6);
                        }
        			}
        		}
      }

      @media (max-width: $screen-s) {
               &.slider{
                  &>div{
                    width: 90%;
                    }
                  }
             }

      // Add padding on each side
      @include susy-breakpoint($screen-xs, $susy) {
        padding-left: calc(calc(3 * var(--space-medium)) / 1.6);
        padding-right: calc(calc(3 * var(--space-medium)) / 1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        padding-left: calc(calc(10 * var(--space-medium)) / 1.6);
        padding-right: calc(calc(10 * var(--space-medium)) / 1.6);
      }

      @include susy-breakpoint($screen-md, $susy) {
        padding-left: calc(calc(15 * var(--space-medium))/1.6);
        padding-right: calc(calc(15 * var(--space-medium))/1.6);
      }

    }
}

//  Colctrl column grid
//  ---------------------------------------------------------------------------------------

.colctrl-2c-wideleft-c0 {
  float: left;
   @include susy-breakpoint($screen-xs, $susy) {
      @include span(12 nest);

    }

    @include susy-breakpoint($screen-sm, $susy) {
      @include span(8);
      margin: calc(var(--space-medium) / 1.6) 0;
    }

}

.colctrl-2c-wideleft-c1 {
  float: right;
     @include susy-breakpoint($screen-xs, $susy) {
        @include span(12 nest);
      }

      @include susy-breakpoint($screen-sm, $susy) {
         @include span(4);
         margin: calc(var(--space-medium) / 1.6) 0;
      }
}

.colctrl-2c-wideright-c0 {
  float: left;

   @include susy-breakpoint($screen-xs, $susy) {
      @include span(12 nest);
    }

    @include susy-breakpoint($screen-sm, $susy) {
       @include span(4);
       margin: calc(var(--space-medium) / 1.6) 0;
    }
}

.colctrl-2c-wideright-c1 {
  float: right;

   @include susy-breakpoint($screen-xs, $susy) {
      @include span(12 nest);
    }

    @include susy-breakpoint($screen-sm, $susy) {
       @include span(8);
       margin: calc(var(--space-medium) / 1.6) 0;

    }
}

.colctrl-4c-c0, .colctrl-4c-c1,.colctrl-4c-c2, .colctrl-4c-c3{

  @include susy-breakpoint($screen-xs, $susy) {
    @include span(12 nest);
  }

  @include susy-breakpoint($screen-s, $susy) {
    @include span(6);
  }

  @include susy-breakpoint($screen-sm, $susy) {
    @include span(3);
    margin: calc(var(--space-medium) / 1.6) 0;
  }
}

.colctrl-2c-c1, .colctrl-2c-c0 {
  @include susy-breakpoint($screen-xs, $susy) {
    @include span(12 nest);
  }

  @include susy-breakpoint($screen-sm, $susy) {
    margin: calc(var(--space-medium) / 1.6) 0;
    @include span(6);
  }

  @include susy-breakpoint($screen-md, $susy) {
    @include span(6);
  }
}

.colctrl-3c-c0, .colctrl-3c-c1, .colctrl-3c-c2 {
  @include susy-breakpoint($screen-xs, $susy) {
    @include span(12 nest);
  }

  @include susy-breakpoint($screen-s, $susy) {
    @include span(6);
  }

  @include susy-breakpoint($screen-sm, $susy) {
    @include span(4);
    margin: calc(var(--space-medium) / 1.6) 0;
  }

  @include susy-breakpoint($screen-md, $susy) {
    @include span(4);
  }


}

// Makes sure three col-setup will left align on small screens with two cols, independent of element height
.colctrl-3c-c2 {
  @include susy-media($screen-s $screen-sm) {
    clear: left;
  }
}


.colctrl-5c-c0, .colctrl-5c-c1, .colctrl-5c-c2, .colctrl-5c-c3, .colctrl-5c-c4{

  @include susy-breakpoint($screen-xs, $susy) {
  @include span(12 nest);
  float: none
  }

  @include susy-breakpoint($screen-s, $susy) {
    @include span(6);
    float: none
  }

  @include susy-breakpoint($screen-sm, $susy) {
    @include span(4);
    margin: calc(var(--space-medium) / 1.6) 0;
    float: none
  }

  @include susy-breakpoint($screen-md, $susy) {
    @include span(2.4);
    float: none
  }

  display: inline-block;
  vertical-align: top;
}


.colctrl-7c-c0, .colctrl-7c-c1, .colctrl-7c-c2, .colctrl-7c-c3, .colctrl-7c-c4, .colctrl-7c-c5, .colctrl-7c-c6{
  @include susy-breakpoint($screen-xs, $susy) {
        @include span(12 nest);
    }
    @include susy-breakpoint($screen-s,
    $susy) {
        @include span(6);
    }
    @include susy-breakpoint($screen-sm,
    $susy) {
        @include span(1.7);
      margin: calc(var(--space-medium) / 1.6) 0;
    }
}


.cq-colctrl-default{
  overflow: hidden;
  @include span(12);
  padding-left: 0;
  padding-right: 0;


  .cq-colctrl-default-c0 {
    padding-left: calc(calc(3 * var(--space-medium)) / 1.6);
    padding-right: calc(calc(3 * var(--space-medium)) / 1.6);

    /*> div {
      @include susy-breakpoint($screen-sm, $susy) {
        padding-left: 1.66666%;
        padding-right: 1.66666%;
      }
    }*/
  }

}

//  Settings for background-colors and spacing
//  ---------------------------------------------------------------------------------------

// Support different bakground-colors on all col-wrappers
.colctrl-2c,
.colctrl-3c,
.colctrl-4c,
.colctrl-5c,
.colctrl-7c,
.colctrl-2c-wideleft,
.colctrl-2c-wideright,
.cq-colctrl-default {

  &.white { background-color: $white; }
  &.light-grey { background-color: $grey-light; }
  &.magenta-promo { background-color: $magenta-promo; }
  &.blue-promo { background-color: $blue-promo; }
  &.mid-grey-promo { background-color: $mid-grey-promo; }
  &.dark-grey-promo { background-color: $dark-grey-promo; }

  // Supporting old background-values
  &.highlighted { background-color: $white; }
  &.default { background-color: $grey-light; }

  // New Equinor Colors
  &.primary-5 { background-color: $light-green-5; }
  &.primary-15 { background-color: $light-green-15; }
  &.primary-100 { background-color: $green; }
  &.secondary-50 { background-color: $light-mist-blue; }// should be removed in later releases
  &.secondary-100 { background-color: $mist-blue; } // should be removed in later releases
  &.dark-blue-magazine { background-color: $mist-blue; }
  &.light-blue-magazine { background-color: $light-mist-blue; }
  &.slate-blue { background-color: $slate-blue; }
  &.heritage-red { background-color: $heritage-red; }
  &.spruce-wood { background-color: $spruce-wood; }

}

// Support top and bottom spacing options on inner col-wrapper
.parsys_column {

  &.colctrl-2c,
  &.colctrl-3c,
  &.colctrl-4c,
  &.colctrl-5c,
  &.colctrl-7c,
  &.colctrl-2c-wideleft,
  &.colctrl-2c-wideright,
  &.cq-colctrl-default {

    &.top-spacing { padding-top: calc(calc(4 * var(--space-medium)) / 1.6); }
    &.bottom-spacing { margin-bottom: calc(calc(4 * var(--space-medium)) / 1.6); }
    &.top-half-spacing { padding-top: calc(calc(2 * var(--space-medium)) / 1.6); }
    &.bottom-half-spacing { margin-bottom: calc(calc(2 * var(--space-medium)) / 1.6); }

    @include susy-breakpoint($screen-sm, $susy) {
      &.top-spacing { padding-top: calc(calc(6 * var(--space-medium)) / 1.6); }
      &.bottom-spacing { margin-bottom: calc(calc(6 * var(--space-medium)) / 1.6); }
      &.top-half-spacing { padding-top: calc(calc(4.5 * var(--space-medium)) / 1.6); }
      &.bottom-half-spacing { margin-bottom: calc(calc(4.5 * var(--space-medium)) / 1.6); }
    }

    @include susy-breakpoint($screen-sm, $susy) {
      &.top-spacing { padding-top: calc(calc(8 * var(--space-medium)) / 1.6); }
      &.bottom-spacing { margin-bottom: calc(calc(8 * var(--space-medium)) / 1.6); }
      &.top-half-spacing { padding-top: calc(calc(6 * var(--space-medium)) / 1.6); }
      &.bottom-half-spacing { margin-bottom: calc(calc(6 * var(--space-medium)) / 1.6); }
    }

  }

}

.colctrl-angle {
  &.top-angle {
    img {
      position: relative;
      bottom: calc(calc(-0.5 * var(--space-medium)) / 1.6);
    }
  }
  img {
    width: 100%;
  }
}

//  Settings for button alignment in colctrl
//  ---------------------------------------------------------------------------------------

// When the align buttons option is selected, set the padding directly on the container

@include susy-breakpoint($screen-xs, $susy) {
  .colctrl.wrapper.align-buttons.top-spacing { padding-top: calc(calc(6 * var(--space-medium)) / 1.6); }
  .colctrl.wrapper.align-buttons.top-half-spacing { padding-top: calc(calc(4.5 * var(--space-medium)) / 1.6); }
  .colctrl.wrapper.align-buttons.bottom-spacing { padding-bottom: calc(calc(6 * var(--space-medium)) / 1.6); }
  .colctrl.wrapper.align-buttons.bottom-half-spacing { padding-bottom: calc(calc(4.5 * var(--space-medium)) / 1.6); }
}

@include susy-breakpoint($screen-sm, $susy) {
  .colctrl.wrapper.align-buttons.top-spacing { padding-top: calc(calc(8 * var(--space-medium)) / 1.6); }
  .colctrl.wrapper.align-buttons.top-half-spacing { padding-top: calc(calc(6 * var(--space-medium)) / 1.6); }
  .colctrl.wrapper.align-buttons.bottom-spacing { padding-bottom: calc(calc(8 * var(--space-medium)) / 1.6); }
  .colctrl.wrapper.align-buttons.bottom-half-spacing { padding-bottom: calc(calc(6 * var(--space-medium)) / 1.6); }
}


@include susy-breakpoint($screen-sm, $susy) {
  .parsys_column.align-buttons.colctrl-1c,
  .parsys_column.align-buttons.colctrl-2c,
  .parsys_column.align-buttons.colctrl-3c,
  .parsys_column.align-buttons.colctrl-4c,
  .parsys_column.align-buttons.colctrl-5c,
  .parsys_column.align-buttons.colctrl-2c-wideleft,
  .parsys_column.align-buttons.colctrl-2c-wideright{
    display: flex;
    height: 100%;
  }

  .parsys_column.align-buttons.colctrl-1c-c0,
  .parsys_column.align-buttons.colctrl-2c-c0,
  .parsys_column.align-buttons.colctrl-2c-c1,
  .parsys_column.align-buttons.colctrl-3c-c0,
  .parsys_column.align-buttons.colctrl-3c-c1,
  .parsys_column.align-buttons.colctrl-3c-c2,
  .parsys_column.align-buttons.colctrl-4c-c0,
  .parsys_column.align-buttons.colctrl-4c-c1,
  .parsys_column.align-buttons.colctrl-4c-c2,
  .parsys_column.align-buttons.colctrl-4c-c3,
  .parsys_column.align-buttons.colctrl-2c-wideright-c0,
  .parsys_column.align-buttons.colctrl-2c-wideright-c1,
  .parsys_column.align-buttons.colctrl-2c-wideleft-c0,
  .parsys_column.align-buttons.colctrl-2c-wideleft-c1,
  .parsys_column.align-buttons.colctrl-5c-c0,
  .parsys_column.align-buttons.colctrl-5c-c1,
  .parsys_column.align-buttons.colctrl-5c-c2,
  .parsys_column.align-buttons.colctrl-5c-c3,
  .parsys_column.align-buttons.colctrl-5c-c4,
  .parsys_column.align-buttons.colctrl-2c-wideleft,
  .parsys_column.align-buttons.colctrl-2c-wideright{

    &.top-spacing, &.top-half-spacing { padding-top: 0; }
    &.bottom-spacing, &.bottom-half-spacing { margin-bottom: 0; }

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .button, .download {
      align-self: flex-end;
      width: 100%;

      .button-content { margin-bottom: 0; }

    }
  }
}

@include susy-breakpoint(0 $screen-sm, $susy) {
  .slider.parsys_column.align-buttons.colctrl-2c,
  .slider.parsys_column.align-buttons.colctrl-3c,
  .slider.parsys_column.align-buttons.colctrl-4c,
  .slider.parsys_column.align-buttons.colctrl-5c
   {
    display: flex;
    height: 100%;
   }

  .slider{
  .parsys_column.align-buttons.colctrl-2c-c0,
  .parsys_column.align-buttons.colctrl-2c-c1,
  .parsys_column.align-buttons.colctrl-3c-c0,
  .parsys_column.align-buttons.colctrl-3c-c1,
  .parsys_column.align-buttons.colctrl-3c-c2,
  .parsys_column.align-buttons.colctrl-4c-c0,
  .parsys_column.align-buttons.colctrl-4c-c1,
  .parsys_column.align-buttons.colctrl-4c-c2,
  .parsys_column.align-buttons.colctrl-4c-c3,
  .parsys_column.align-buttons.colctrl-2c-wideright-c0,
  .parsys_column.align-buttons.colctrl-2c-wideright-c1,
  .parsys_column.align-buttons.colctrl-2c-wideleft-c0,
  .parsys_column.align-buttons.colctrl-2c-wideleft-c1,
  .parsys_column.align-buttons.colctrl-5c-c0,
  .parsys_column.align-buttons.colctrl-5c-c1,
  .parsys_column.align-buttons.colctrl-5c-c2,
  .parsys_column.align-buttons.colctrl-5c-c3,
  .parsys_column.align-buttons.colctrl-5c-c4 {

    &.top-spacing, &.top-half-spacing { padding-top: 0; }
    &.bottom-spacing, &.bottom-half-spacing { margin-bottom: 0; }

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .button, .download {
      align-self: flex-end;
      width: 100%;

      .button-content { margin-bottom: 0; }

    }
  }
 }
}
