.accordion {
    background: none;
    .cmp-accordion{
        &__item {
            padding-bottom: calc(calc(3 * var(--space-medium))/1.6);
            position: relative;
            &:not(:first-child) {
                margin-top: calc(calc(2 * var(--space-medium))/1.6);
            }
        }
        &__icon {
            position: absolute;
            bottom: 0px;
            font-size: calc(calc(2.5 * var(--space-medium))/1.6);
            vertical-align: bottom;
            color: $slate-blue;
            .slate-blue &, .heritage-red &, .primary-100 &  {
                color: white;
            }
            &:before {
                content: unquote('"\EA31"');
            }
        }

        &__button--expanded .cmp-accordion__icon{
            &:before {
                content: unquote('"\EA32"');
            }
        }
        &__title {
            margin-bottom: 0;
            padding-bottom: 0;
            &.primary-color{
                color: $primary-color;
            }
            &.secondary-color{
                color: $secondary-color;
            }
            & h2{
                margin: 0;
            }
            & h3{
                margin: 0;
            }
            & p{
                padding: 0;
            }
            &.bold-text{
                @include Equinor-Bold;
            }
        }
        &__panel {
            padding: calc(calc(1.5 * var(--space-medium))/1.6) 0;
            & > * :last-child {
                margin-bottom: 0;
            }
            &--container {
                overflow: hidden;
            }

        }
    }
}

.colctrl-2c,
.colctrl-3c,
.colctrl-4c,
.colctrl-5c,
.colctrl-2c-wideleft,
.colctrl-2c-wideright,
.cq-colctrl-default {
   &.mid-grey-promo,
   &.dark-grey-promo,
   &.primary-100,
   &.slate-blue,
   &.heritage-red {
     .cmp-accordion__button { color: $white; }
   }
}

.cmp-accordion__header{margin:0}
.cmp-accordion__button{display:block;width:100%;text-align:left}
