.date {
    display: inline-block;
    width: 100%;
    .date-module {
      @include span(12 nest);
      float:left;
      font-size: 0.75rem;
      line-height: 1rem;
      @include Equinor-Light;
      color: #565656;
      margin-top:calc(1rem / 1.6);

      .date_module-icon {
        color:$primary-color;
        font-size:calc(2rem / 2);
        margin-right: calc(1rem / 1.6);
      }
    }
}
