.date {
    display: inline-block;
    width: 100%;
    .date-module {
      @include span(12 nest);
      float:left;
      font-size: calc(0.75 * var(--space-medium));
      line-height: var(--space-medium);
      @include Equinor-Light;
      color: #565656;
      margin-top:calc(var(--space-medium) / 1.6);

      .date_module-icon {
        color:$primary-color;
        font-size:calc(calc(2 * var(--space-medium)) / 2);
        margin-right: calc(var(--space-medium) / 1.6);
      }
    }
}
