.divider {
    display: block;
    width: 100%;
    padding: 0 5%;

    .page-content-divider {
        margin: var(--space-medium);
        border-bottom: calc(0.1 * var(--space-medium)) solid black;
    }


}


