 .colctrl-2c,
 .colctrl-3c,
 .colctrl-4c,
 .colctrl-5c,
 .colctrl-7c,
 .colctrl-2c-wideleft,
 .colctrl-2c-wideright,
 .cq-colctrl-default {

    &.primary-100,
    &.slate-blue,
    &.heritage-red {
      .factbox { color: $white; }
    }
 }

 @mixin font-color($color){
     color: $color;
   }

.factbox {

  @include span(12 nest);
  float:none;

  .factbox-content {

    @include susy-breakpoint($screen-xs, $susy) { padding: calc(calc(1.75 * var(--space-medium))/1.6); }
    @include susy-breakpoint($screen-sm, $susy) { padding: calc(calc(3.5 * var(--space-medium))/1.6); }

    :last-child { padding-bottom: 0; margin-bottom: 0; } // No padding and margin on the last child item in the factbox

      h4 {
        @include Equinor-Medium;
        padding-bottom: calc(calc(1.5 * var(--space-medium))/1.6);
        text-align: center;
      }

      ul li, ol li {
        line-height: 150%;
      }

      ol li:before {
        content: none;
      }

    color: $default-font-text-color;

  }

  >.moss-green{ @include font-color($secondary-color); }
  >.signal-red{ @include font-color($primary-color); }

  >.default,>.white,>.highlighted {background-color: $white; }
  >.primary-5 { background-color: $light-green-5; }
  >.primary-15 { background-color: $light-green-15; }
  >.primary-100 {
          background-color: $green;
          color: $white;
          }
  >.dark-blue-magazine { background-color: $mist-blue; }
  >.light-blue-magazine { background-color: $light-mist-blue; }
  >.slate-blue {
        background-color: $slate-blue;
        color: $white;
        }
  >.heritage-red {
        background-color: $heritage-red;
        color: $white;
        }
  >.spruce-wood { background-color: $spruce-wood; }

  .reduce-width {
    margin:0 auto;
    @include susy-breakpoint($screen-xs, $susy) { padding: calc(calc(3.5 * var(--space-medium))/1.6) calc(calc(3 * var(--space-medium))/1.6); }
    @include susy-breakpoint($screen-sm, $susy) { padding: calc(calc(3.5 * var(--space-medium))/1.6) calc(calc(10 * var(--space-medium))/1.6); }
    @include susy-breakpoint($screen-lg, $susy) { padding: calc(calc(3.5 * var(--space-medium))/2.02) calc(calc(15 * var(--space-medium))/2.02); }
  }

  .textcolumns2 {
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
      -webkit-column-gap: calc(calc(2 * var(--space-medium))/1.6); /* Chrome, Safari, Opera */
      -moz-column-gap: calc(calc(2 * var(--space-medium))/1.6); /* Firefox */
      column-gap: calc(calc(2 * var(--space-medium))/1.6);
  }
}
