.imagetiles {

  .imagetiles-images.tri {
    img:nth-child(5) {
      @include susy-breakpoint($screen-sm, $susy) {
        width: 100%;
      }
    }
  }

  &-images {

    overflow: hidden;
    img {
      padding: calc(0.5 * var(--space-medium));
      box-sizing: border-box;
      width: 100%;
      float: left;
      display: block;

      @include susy-breakpoint($screen-sm, $susy) {
       width: 50%;
      }
    }
  }

  .descriptions {
    display: none;
    overflow: hidden;
    @include susy-breakpoint($screen-sm, $susy) {
      display: block;
    }
    &.duo {
      .description-container {
        @include susy-breakpoint($screen-sm, $susy) {
          width: 50%;
        }
      }
    }
    &.tri {
      .description-container {
        @include susy-breakpoint($screen-sm, $susy) {
          width: 33%;
        }
      }
    }
  }
  .description-container {
    &-mobile {
      @include susy-breakpoint($screen-sm, $susy) {
        display: none;
      }
    }
    padding: calc(0.5 * var(--space-medium));
    @include susy-breakpoint($screen-sm, $susy) {
      width: 25%;
    }
    width: 100%;
    font-size: calc(1.5 * var(--space-medium));
    line-height: calc(2 * var(--space-medium));
    padding-bottom: calc(2 * var(--space-medium));
    float: left;
    display: flex;
    .tilebox{
      display: none;
      @include susy-breakpoint($screen-sm, $susy) {
        display: block;
        float: left;
        width: 55px;
        height: 34px;
        margin-right: 5px;
        flex-shrink: 0;
        .tilerow {
          display: flex;
          flex-direction: row;
          height: 50%;
          .tile {
            margin: 1px;
            background-color: $primary-color-light;
            width: 100%;
            height: 15px;
            &.active {
              background-color: $primary-color;
            }
            &.mossgreen {
              background-color: $secondary-color-light;
              &.active {
                background-color: $secondary-color;
              }
            }
          }
        }
      }
    }

    .description {
      @include Equinor-Medium-italic;
      @include susy-breakpoint($screen-xs, $susy) {
        font-size: calc(calc(1.3 * var(--space-medium))/1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        font-size: calc(calc(1.3 * var(--space-medium))/2.02);
      }

      line-height: 140%;
      padding-left: 0;
      padding-right: 5%;
      width: 100%;

      .photographer {
        @include Equinor-Bold;
        font-style: normal;
        display: block;
        color: $grey_lighter;
      }
    }
  }
}

.imagetiles {
  .icons{
    color: $grey-light;
    .active {
      color: $blue;
    }
  }
}

// Make the (inactive) icons appear white when used in default (grey-bg) colctrl
.light-grey .imagetiles .icons {
  color: #fff;
}
.magazine-content .imagetiles .icons {
  color: #fff;
}

.magazine-article-content .imagetiles .icons {
  color: #fff;
}
