//  Figure module
//  ---------------------------------------------------------------------------------------
.image {
  min-height: calc(5 * var(--space-medium));
  width: 100%;
  figcaption {
    margin-top: var(--space-medium);
  }
  .figure-module {
    @include susy-breakpoint($screen-xs, $susy) {
      @include span(12 nest);
    }

    a {
      display: block;
      overflow: hidden;
      &:hover img, &:focus img {
        transform: scale(1.06);
      }
    }

    img {
      vertical-align: top;
      transition: transform .3s;
      transition-timing-function: cubic-bezier(0.51, 0.08, 0.39, 0.91);
    }

    .figure-module_image,img {
      width: 100%;
    }

  &.icon {
    text-align:center;
    height:auto;

    .figure-module_image,img {
      width: auto;
      max-width:100%;
      margin: 0 auto;
      display:block;
      float: initial;
      position: static;
     }
  }

    &.circle, &.portrait {
      text-align:center;
      width: 100%;
      overflow: visible;

      .figure-module_image,img {
          border-radius: 50%;
          margin: 0 auto;
          display: block;
          float: none;
          width: 50%;
          height: 100%;
          position: static;
          min-width: calc(calc(12 * var(--space-medium)) / 1.6);
          min-height: calc(calc(12 * var(--space-medium)) / 1.6);
        }
    }

    &.portrait{
      .figure-module_image,img { width:calc(1.6 * var(--space-medium)); }
      .figure-module_reference-icon { display: none; }
    }
  }
}
