// Tiles grey colctrl
.white{

  ul.list-container.tiles .list-content {
    .item-text, .item-meta {
      background-color: $light-green-5;
    }
  }
}

ul.list-container.tiles {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;

  .list-item {
    display: flex;
    a{
        display: flex;
        width: 100%;
        flex-grow: 1;
    }

    @include susy-breakpoint($screen-sm, $susy) {
      width: calc((99.9% - 6px)/3);
      margin: 0;
      margin-right: 3px;

      padding-bottom: calc(calc(2.1 * var(--space-medium))/2.02);
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    box-sizing: border-box;
    background-color: transparent;
  }

  .list-content {
    padding: 0;
    position: relative;
    flex-direction: column;
    background-color: transparent;

    .item-image {
      width: 100%;
      overflow: hidden;
      position: relative;

      margin-bottom: 3px;

       img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
        padding-right: 0;
        vertical-align: top;
      }
      a {
        position: relative;
      }
      .item-date {
        display: none;
      }
    }

    h3 { @include Equinor-Medium; }

    .item-text {
      width: 100%;
      @include susy-breakpoint($screen-xs, $susy) {
      padding: calc(calc(1.4 * var(--space-medium))/1.6);
      }
      @include susy-breakpoint($screen-sm, $susy) {
        padding: calc(calc(1.4 * var(--space-medium))/2.02);
        }
      background: white;

      .item-date {
        display: block;
        text-transform: uppercase;
        @include susy-breakpoint($screen-xs, $susy) {
          font-size: calc(calc(1.5 * var(--space-medium))/1.6);
          }
          @include susy-breakpoint($screen-sm, $susy) {
            font-size: calc(calc(1.5 * var(--space-medium))/2.02);
            }

        color: $newsdate-color;
      }
    }

    .item-meta {
      display: block;
      flex: none;
      background: white;
      width: 100%;
      .item-date {
        display: none;
      }

      .item-read-more {
        text-align: center;
        @include susy-breakpoint($screen-xs, $susy) {
          padding-bottom: calc(calc(2 * var(--space-medium))/1.6);
          }
          @include susy-breakpoint($screen-sm, $susy) {
            padding-bottom: calc(calc(2 * var(--space-medium))/2.02);
            }

        margin-top: 0;
      }
    }
  }
}

// slidable list
.list {
  .component-container{
    //need improvement
    overflow: visible !important;
  }
}
.component-container {
  ul.list-container.slider, .events-container.slider, .visuallist-container.slider {
    min-height: auto;
    width: 100%;

 .list-item, .calendar-item{
    @media (max-width: $screen-s){
        width: 90%;
     }
    @include susy-breakpoint($screen-s $screen-sm, $susy) {
        width: 45%;
		}
    }
    @include susy-breakpoint($screen-sm, $susy) {
      transform: none !important;
    }

    @include susy-breakpoint(0 $screen-sm, $susy) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      white-space: nowrap;
      font-size: 0;
      .list-content {
        flex-direction: column;
        flex-grow: 1;
      }
      .list-item, .calendar-item{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex:none;
        vertical-align: top;
        white-space: normal;
        border: 1.5px solid transparent;

      }
      .calendar-item{
         header{
             flex-grow: 2;
             .event-title{
                 flex-grow: 2;
             }
         }
      }
      .list-item{
         a{
             display: flex;
             width: 100%;
             flex-grow: 1;
          }
      }
      .item-text {
        flex-grow: 1;
        width: auto;
      }
      .item-image {
        width: 100%;
      }
    }
  }
}
