$newsdate-color: #666666;
$teaser-subtitle-color: #b9338b;
$list-bottom-border-color: #ddd;

.no-result-container{
    text-align: center;
    display: none;
    @include susy-breakpoint($screen-xs, $susy) {
    padding-top: calc(calc(4 * var(--space-medium))/1.6);
    padding-bottom: calc(calc(15 * var(--space-medium))/1.6);
    }
    @include susy-breakpoint($screen-sm, $susy) {
      padding-top: calc(calc(4 * var(--space-medium))/2.01);
      padding-bottom: calc(calc(15 * var(--space-medium))/2.01);
      }
    .no-result-heading{
        display: inline-block;
        width: 100%;
    }
}

.section.list {
  @include susy-breakpoint($screen-xs, $susy) {
    margin-top: calc(var(--space-medium)/1.6);
    }
    @include susy-breakpoint($screen-xs, $susy) {
      margin-top: calc(var(--space-medium)/2.01);
      }
}

.list-container {
  width: 100%;
  li {
    padding-bottom: 3px;
    width: inherit;
  }

  &.loading {
    .loading-indicator {
      display: block;
    }
  }

  .loading-indicator {
    text-align: center;
    display: none;
    width: 10%;
    @include susy-breakpoint($screen-xs, $susy) {
      font-size: calc(calc(3.5 * var(--space-medium))/1.6);
      margin: 0 auto calc(var(--space-medium)/1.6) auto;
    }
    @include susy-breakpoint($screen-sm, $susy) {
      font-size: calc(calc(3.5 * var(--space-medium))/2.01);
      margin: 0 auto calc(var(--space-medium)/2.01) auto;
    }
  }

  .search-and-sort {
    width: 100%;
    overflow: visible;

    @include susy-breakpoint($screen-xs, $susy) {
      padding-left: 0;
      padding-top: calc(calc(2 * var(--space-medium))/1.6);
      height: calc(calc(7.5 * var(--space-medium))/1.6);
    }
    @include susy-breakpoint($screen-sm, $susy) {
      padding-left: 50%;
      padding-top: calc(calc(2 * var(--space-medium))/2.01);
      height: calc(calc(7.5 * var(--space-medium))/2.01);
    }

    .list-search-container {
      width: 50%;
      float: right;
      @include susy-breakpoint($screen-xs, $susy) {
      padding-bottom: calc(calc(2 * var(--space-medium))/1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        padding-bottom: calc(calc(2 * var(--space-medium))/2.01);
        }

      label {
        @extend %offscreen;
      }

      // Outline with border-radius
      input[type="search"]:focus {
        box-shadow: 0 0 0 1px #7db9f6;
        outline: 0;
      }
    }

    .sort-options-container {
      width: 50%;
      float: right;

      @include susy-breakpoint($screen-xs, $susy) {
        padding-left: calc(calc(2 * var(--space-medium))/1.6);
        padding-bottom: calc(calc(2 * var(--space-medium))/1.6);
      }
      @include susy-breakpoint($screen-sm, $susy) {
        padding-left: calc(calc(2 * var(--space-medium))/2.01);
        padding-bottom: calc(calc(2 * var(--space-medium))/2.01);
      }

      .selectric-wrapper {
        width: 100%;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .custom-dropdown-items{
        @include susy-breakpoint($screen-xs, $susy) {
        height: calc(calc(4.2 * var(--space-medium))/1.6);
        }
        @include susy-breakpoint($screen-sm, $susy) {
          height: calc(calc(4.2 * var(--space-medium))/2.01);
          }
      }
    }
  }

  .queried {
    @include Equinor-Medium-italic;
    @include susy-breakpoint($screen-xs, $susy) { font-size: calc(calc(1.5 * var(--space-medium))/1.6); }
    @include susy-breakpoint($screen-sm, $susy) { font-size: calc(calc(1.5 * var(--space-medium))/2.01); }

  }

  > h2 {
    text-align: center;
  }

 .tags-filter {
  @include susy-breakpoint($screen-xs, $susy) { width: 100%; }
  @include susy-breakpoint($screen-md, $susy) { width: 70%; }

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: calc(2 * var(--space-medium));

    .tag-filter {
        &-count {
            margin-left: calc(0.5 * var(--space-medium));
        }
    }
  }

  .more-results {
    text-align: center;
    &-btn {
      background: transparent;
      font-size: calc(2 * var(--space-medium));
      color: $black_normal;
      margin-top: 20px;
      margin-bottom: 40px;
      padding: calc(0.5 * var(--space-medium)) var(--space-medium) calc(0.5 * var(--space-medium)) var(--space-medium);
      cursor: pointer;
      border: 0;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $grey-darker;
      }
      &:disabled {
        color: $list-bottom-border-color;
        cursor: default;
        display: none;
      }
    }
  }
  .loading-indicator-wrapper .loading-indicator {
  color: $slate-blue;
  }

}

// Apply a white bg for on lists in news-page, due to the light-gray background-color on this page
.mfp-content,
.gray,
.newsroom-content,
.colctrl.wrapper.light-grey {
  .list-container {
    .list-content {
      background-color: #fff;
    }
  }
}

// Regular list view
.list-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: auto;

  .list-item {
    a{
        text-decoration: none;
        color: inherit;
    }
    &:before {
      content: none;
    }
  }

  .hidden-item {
    display: none;
  }

  .white & .list-content {
    background-color: $light-green-5;
  }

  .list-content {
    background-color: $white;
    display: flex;
    justify-content: space-around;

    width: 100%;
    flex-direction: column;
    @include susy-breakpoint($screen-sm, $susy) {
      flex-direction: row;
      padding: calc(calc(2 * var(--space-medium))/2.01);
    }
    //}

    .item-image {

        display: block;
        overflow: hidden;
        img {
          vertical-align: top;
          transition: transform 0.3s;
        }

      @include susy-breakpoint($screen-xs, $susy) {
        img {
          width: 100%;
          max-width: 100%;
        }
      }

      @include susy-breakpoint($screen-sm, $susy) {
        align-self: center;
        line-height: 0;
        width: 28%;
         img {
          width: 100%;
          max-width: 100%;
          margin-bottom: 0;
        }
      }
      &:hover  img,
      &:focus  img {
        transform: scale(1.07);
      }
    }

    .item-text {
      @include susy-breakpoint($screen-xs, $susy) {
      padding-top: calc(calc(2 * var(--space-medium))/1.6);
      padding-left: calc(calc(2.5 * var(--space-medium))/1.6);
      padding-right: calc(calc(2.5 * var(--space-medium))/1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        padding-top: calc(calc(2 * var(--space-medium))/2.01);
        padding-left: calc(calc(2.5 * var(--space-medium))/2.01);
        padding-right: calc(calc(2.5 * var(--space-medium))/2.01);
        width: 54%;
        padding-top: 0;
        flex-grow: 1;
        p {
          padding-bottom: 0;
        }
      }

        h3 {
          color: #333;
        }


      .item-date {
        @include susy-breakpoint($screen-xs, $susy) {
          display: block;
          margin-bottom: calc(calc(1.5 * var(--space-medium))/1.6);
          text-transform: uppercase;
          font-size: calc(calc(1.5 * var(--space-medium))/1.6);
          color: $newsdate-color;
        }

        @include susy-breakpoint($screen-sm, $susy) {
          display: none;
        }
      }
    }

    .item-read-more {
      @include susy-breakpoint($screen-xs, $susy) {
        width: 100%;
        text-align: center;
        margin-bottom: calc(var(--space-medium)/1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        text-align: right;
        margin-top: 0;
      }

      @include susy-breakpoint($screen-lg, $susy) {
          >.btn{
            padding: calc(var(--space-medium) / 2.02) calc(calc(3.5 * var(--space-medium)) /3);
          }
      }


    }

    .item-meta {
      @include susy-breakpoint($screen-xs, $susy) {
        text-align: center;
      }

      @include susy-breakpoint($screen-sm, $susy) {
        text-align: right;
        align-self: center;
      }

      .item-date {
        @include susy-breakpoint($screen-xs, $susy) {
          display: none;
        }

        @include susy-breakpoint($screen-sm, $susy) {
          display: block;
          margin-bottom: calc(calc(1.5 * var(--space-medium))/2.01);
          text-transform: uppercase;
          font-size: calc(calc(1.5 * var(--space-medium))/2.01);
          color: $newsdate-color;
        }
      }
    }
  }
}
