.colctrl-2c,
.colctrl-3c,
.colctrl-4c,
.colctrl-5c,
.colctrl-7c,
.colctrl-2c-wideleft,
.colctrl-2c-wideright,
.cq-colctrl-default {

   &.primary-100,
   &.slate-blue,
   &.heritage-red {
     .mainnumbers { color: $white; }
   }
}

.mainnumbers {
  .component-container {

    text-align: center;
    margin-top: calc(calc(2 * var(--space-medium))/1.6);
    padding-left:calc(calc(0.5 * var(--space-medium))/1.6);
    padding-right:calc(calc(0.5 * var(--space-medium))/1.6);

    > .number {
      display: inline-block;
      font-size: calc(5 * var(--space-medium));
      @include susy-breakpoint($screen-xs, $susy) {
        font-size: calc(calc(5 * var(--space-medium))/1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        font-size: calc(calc(2.8 * var(--space-medium))/1.6);
      }
      @include susy-breakpoint($screen-md, $susy) {
        font-size: calc(calc(3.9 * var(--space-medium))/1.6);
      }
      @include susy-breakpoint($screen-lg, $susy) {
        font-size: calc(calc(4.0 * var(--space-medium))/2.06);
        line-height: calc(calc(5 * var(--space-medium))/2.06);
      }
      @include susy-breakpoint($screen-xl, $susy) {
        font-size: calc(calc(5 * var(--space-medium))/2.06);
        line-height: calc(calc(5 * var(--space-medium))/2.06);
      }

      max-width: 95%;
      line-height: calc(calc(5 * var(--space-medium))/1.6);
      word-wrap: break-word;
      &.cyan {
        color: $secondary-color;
      }
      &.magenta {
        color: $primary-color;
      }
      &.white {
        color: $white;
      }
    }

    > .sub {
      margin-top: calc(var(--space-medium)/1.6);
      font-size: calc(calc(1.5 * var(--space-medium))/1.6);
      display: block;
      width: 100%;
      @include Equinor-Medium-italic;

      &.primary-color{
        color: $primary-color;
      }
      &.secondary-color{
        color: $secondary-color;
      }

    }

  }
}

