.colctrl-2c,
.colctrl-3c,
.colctrl-4c,
.colctrl-5c,
.colctrl-7c,
.colctrl-2c-wideleft,
.colctrl-2c-wideright,
.cq-colctrl-default {

   &.primary-100,
   &.slate-blue,
   &.heritage-red {
     .mainnumbers { color: $white; }
   }
}

.mainnumbers {
  .component-container {

    text-align: center;
    margin-top: calc(2rem/1.6);
    padding-left:calc(0.5rem/1.6);
    padding-right:calc(0.5rem/1.6);
    
    > .number {
      display: inline-block;
      font-size: 5rem;
      @include susy-breakpoint($screen-xs, $susy) {
        font-size: calc(5rem/1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        font-size: calc(2.8rem/1.6);
      }
      @include susy-breakpoint($screen-md, $susy) {
        font-size: calc(3.9rem/1.6);
      }
      @include susy-breakpoint($screen-lg, $susy) {
        font-size: calc(4.0rem/2.06);
        line-height: calc(5rem/2.06);
      }
      @include susy-breakpoint($screen-xl, $susy) {
        font-size: calc(5rem/2.06);
        line-height: calc(5rem/2.06);
      }

      max-width: 95%;
      line-height: calc(5rem/1.6);
      word-wrap: break-word;
      &.cyan {
        color: $secondary-color;
      }
      &.magenta {
        color: $primary-color;
      }
      &.white {
        color: $white;
      }
    }

    > .sub {
      margin-top: calc(1rem/1.6);
      font-size: calc(1.5rem/1.6);
      display: block;
      width: 100%;
      @include Equinor-Medium-italic;

      &.primary-color{
        color: $primary-color;
      }
      &.secondary-color{
        color: $secondary-color;
      }
      
    }

  }
}

