@import '../core/_core-variables.scss';
@import '../core/core-colors';

$primary-color-hover: #F9B2C3;
$secondary-color-hover: #A8CED1;
$white-color-hover: rgba(255,255,255,0.5);

.colctrl-2c,
.colctrl-3c,
.colctrl-4c,
.colctrl-5c,
.colctrl-7c,
.colctrl-2c-wideleft,
.colctrl-2c-wideright,
.cq-colctrl-default {

    .quicklistitem,.quickdownloaditem {
        a {
            color: $default-font-text-color;
        }
        a:hover, a:focus {
            @media (hover: hover) and (pointer: fine){
                .si-accordion-arrow, .si-arrow-download {
                    color: $primary-color;
                }
            }
        }
    }

    &.magenta-promo,
    &.blue-promo,
    &.mid-grey-promo,
    &.dark-grey-promo,
    &.primary-100,
    &.slate-blue,
    &.heritage-red {
        .quicklistitem,.quickdownloaditem {
            a {
                color: $white;
            }
            a:hover, a:focus {
                @media (hover: hover) and (pointer: fine){
                    .si-accordion-arrow,.si-arrow-down {
                        &:before{
                            color: white;
                            background-color: $white-color-hover;
                        }
                    }
                }
            }
        }
    }
}



.quicklistcontainer {
    border-top: 1px solid $black_light;
    background: transparent;
    .space-below_default {
        margin-bottom: calc(calc(2.5 * var(--space-medium))/1.6);
    }
    .space-below_none {
            margin-bottom: 0px;
    }
    .space-below_normal {
            margin-bottom: calc(calc(1.5 * var(--space-medium))/1.6);
    }
    .space-below_big {
            margin-bottom: calc(calc(4.5 * var(--space-medium))/1.6);
    }
}

.quicklistitemcontainer {
    border-bottom: 1px solid $black_light;
}

.quicklist-container-heading {
    text-align: center;
    font-size: medium;
    color: #999999;
}
.quicklistitem, .quickdownloaditem {
    padding: calc(calc(1.2 * var(--space-medium))/1.6) calc(calc(2 * var(--space-medium))/1.6) calc(calc(1.2 * var(--space-medium))/1.6) calc(calc(2 * var(--space-medium))/1.6);

    a {
        line-height: calc(calc(3.2 * var(--space-medium))/1.6);
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        font-size: calc(calc(2 * var(--space-medium))/1.6);

        .si-accordion-arrow, .si-arrow-download{
			&:before {
				border-radius: 50%;
            }
        }
    }
}

.primary-color {
    .quicklistitem,.quickdownloaditem {
        a {
            color: $primary-color;
        }

        a:hover, a:focus {
            @media (hover: hover) and (pointer: fine){
                .si-accordion-arrow, .si-arrow-download {
                    &:before {
                        color: $primary-color;
                        background-color: $primary-color-hover;
                    }
                }
            }
        }
    }
}

.secondary-color {
    .quicklistitem,.quickdownloaditem {
        a {
            color: $secondary-color;
        }

        a:hover, a:focus {
            @media (hover: hover) and (pointer: fine){
                .si-accordion-arrow, .si-arrow-download {
                    &:before {
                        color: $secondary-color;
                        background-color: $secondary-color-hover;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-s) {
    .quicklistcontainer {
        max-width: none;
        margin: 0 calc(calc(-3 * var(--space-medium))/1.6);
    }
}

.quickdownloaditem {
    .right-content-container{
        display: flex;
        .scale-1_2{
            transform: scale(1.2);
        }
        .file-size-text {
            margin-right: 36px;
        }
    }
}
