.svgicon {
  display: inline-block;
  width: 100%;

  img {
    float:none;
    display:block;
    margin:0 auto;
    position: static!important;
    width:100%;

    &.align-left{
      float:left;
    }

    &.align-right{
      float:right;
    }
  }

  .small { width:calc(calc(5 * var(--space-medium))/1.6); }
  .normal { width:calc(calc(10 * var(--space-medium))/1.6); }
  .medium { width:calc(calc(15 * var(--space-medium))/1.6); }
  .large { @include span(12 nest); }

  .responsive-small{
    box-sizing: border-box;
    width: 25%
  }

  .responsive-normal{
    box-sizing: border-box;
    width: 50%;
  }

  .responsive-medium {
    box-sizing: border-box;
    width: 75%
  }

  .responsive-large { @include span(12 nest); }

  .figure-module_reference {
    @include span(12 nest);
    float:left;
    font-size: calc(calc(1.5 * var(--space-medium))/1.6);
    line-height: calc(calc(2.6 * var(--space-medium))/1.6);
    color: #B8B8B8;
    margin-top:calc(var(--space-medium)/1.6);

    .figure-module_reference-icon {
      color:$primary-color;
      font-size:calc(calc(1.7 * var(--space-medium))/1.6);
      margin-right:calc(calc(0.4 * var(--space-medium))/1.6);
    }
  }

  .figure-module_caption {
    @include span(12 nest);
    @include Equinor-Light;
    float: left;
    font-size: calc(calc(1.5 * var(--space-medium))/1.6);
    line-height: calc(calc(2.6 * var(--space-medium))/1.6);
    color: #333;
  }
}
