.tablev2 {
  table {
    border-spacing: calc(calc(0.2 * var(--space-medium))/1.6);
    border-collapse: unset;
    padding: 0;
  }
  .tablev2__smallfont {
    tr {
      td {
        font-size: calc(calc(1.8 * var(--space-medium))/1.6);
      }
    }
  }
  .tablev2__mediumfont {
    tr {
      td {
        font-size: calc(calc(2 * var(--space-medium))/1.6);
      }
    }
  }
  .tablev2__largefont {
    tr {
      td {
        font-size: calc(calc(2.2 * var(--space-medium))/1.6);
      }
    }
  }

  tr {
    background-color:  $light-green-5 !important;
  }

  td {
    line-height:calc( calc(2 * var(--space-medium))/1.6);
    padding:calc( var(--space-medium)/1.6) calc( calc(2 * var(--space-medium))/1.6);
    p {
      font-size: inherit;
      line-height: calc(calc(2.5 * var(--space-medium))/1.6);
    }
    b {
      font-size: inherit;
    }
    u {
      font-size: inherit;
    }
    i {
      font-size: inherit;
    }

    span {
      &.secondary-color {
        color: $secondary-color;
      }
      &.primary-color {
        color: $primary-color;
      }
      &.small-text {
        font-size: calc(calc(1.8 * var(--space-medium))/1.6);
      }
      &.medium-text {
        font-size:calc( calc(2 * var(--space-medium))/1.6);
      }
      &.large-text {
        font-size: calc(calc(2.2 * var(--space-medium))/1.6);
      }
    }
  }

  .tablev2-container {
    margin-bottom: calc(calc(2.5 * var(--space-medium))/1.6);
    overflow-x: auto;
    &.space-below_none {
      margin-bottom: 0;
    }
    &.space-below_normal {
      margin-bottom: calc(calc(1.5 * var(--space-medium))/1.6);
    }
    &.space-below_big {
      margin-bottom: calc(calc(4.5 * var(--space-medium))/1.6);
    }
  }
}

.colctrl-2c,
.colctrl-3c,
.colctrl-4c,
.colctrl-5c,
.colctrl-7c,
.colctrl-2c-wideleft,
.colctrl-2c-wideright,
.cq-colctrl-default {
  &.primary-100,
  &.slate-blue,
  &.heritage-red {
    .text {
      &.tablev2 {
        color: $default-font-text-color;
      }
    }
  }

  &.primary-5,
  &.primary-15,
  &.primary-100,
  &.secondary-50,
  &.secondary-100,
  &.dark-blue-magazine,
  &.light-blue-magazine,
  &.slate-blue,
  &.heritage-red,
  &.spruce-wood {
    .text {
      &.tablev2 {
        tr {
          background-color:  white !important;
        }
      }
    }
  }
}
