/* Styling for tabs using the Foundation plugin */

.tabs {
  margin: 0;
  list-style-type: none;
  background: #fefefe;
}

.tabs::before, .tabs::after {
  content: ' ';
  display: table;
}
.tabs::after {
  clear: both;
}

.tabs-title { float: left; }
.tabs-title.is-active > a {
  background-color: #e6e6e6;
}

.tabs-title > a {
  display: block;
  padding: calc(1.55 * var(--space-medium));
  line-height: 1.5;
  font-size: calc(1.5 * var(--space-medium));
  &:hover { background: #fefefe; }
  &:focus, .tabs-title > a[aria-selected='true'] { background: #e6e6e6; }
}

.tabs-content {
  background: #fefefe;
  transition: all 0.5s ease;
}

.tabs-panel {
  display: none;
  padding: var(--space-medium);
  &.is-active { display: block; }
}
