.table {
  tr {
    border-bottom: .2rem solid #F0F0F0;

      &:first-child {
        text-transform: uppercase;
        color:#717171;
        @include Equinor-Bold;
          td { font-size:1.4rem; }
      }

      td,th {
        font-size: 1.3rem;
        line-height: 1.5rem;
		b {
			font-size: 1.3rem
		}

        b * {
          @include Equinor-Medium;
        }
      }
  }
}

.colctrl {

  &.wrapper {
    tr {
      &:nth-child(even) { background-color: #FAFAFA; }
    }

    &.highlighted {
      tr {
        &:nth-child(even) {
          background-color: #FAFAFA;
        }
      }
    }

    &.default {
      tr {
        &:nth-child(even) {
          background-color: #F5F5F5;
        }
      }
    }
  }
}
