.colctrl-2c,
.colctrl-3c,
.colctrl-4c,
.colctrl-5c,
.colctrl-7c,
.colctrl-2c-wideleft,
.colctrl-2c-wideright,
.cq-colctrl-default {

   &.magenta-promo,
   &.blue-promo,
   &.mid-grey-promo,
   &.dark-grey-promo,
   &.primary-100,
   &.slate-blue,
   &.heritage-red {
     .text { color: $white; }
   }
}

@mixin font-color($color){
    color: $color;
}
.italic {
  font-style: italic;
  display: inline-block;
}
.small-section {
  @extend .small;
  display: inline-block;
}
.text {
  @include span(12 nest);
  float: none;
  max-width: calc(calc(140 * var(--space-medium)) / 1.6);
  margin: 0 auto;
  ul{
    li{
      padding-bottom: 0;
    }
  }
  p{
    span{
      &.ingress{
        font-size: calc(calc(1.8 * var(--space-medium)) / 1.6);
        line-height: calc(calc(2.8 * var(--space-medium)) / 1.6);
      }
    }
  }
  .component-container {
    h1, h2, h3 {
      margin-bottom: 0;
      padding-bottom: 0;
      margin-block-start: 0;
      margin-block-end: 0;
    }

    > *{
      padding-bottom: calc(calc(3.2 * var(--space-medium)) / 1.6);
	  }
    > *:last-child{
        padding-bottom: 0;
    }
  }

  .promo,.number{
    color:#809EB0;

    p {
      font-size: calc(calc(3.2 * var(--space-medium)) / 1.6);
      line-height: calc(calc(3.2 * var(--space-medium)) / 1.6);
      padding-bottom: calc(calc(3.2 * var(--space-medium)) / 1.6);
    }
  }

    .moss-green{
        @include font-color($secondary-color);
    }
    .signal-red{
        @include font-color($primary-color);
    }
  .reduce-width {
    // Do only apply a narrower width for tablet size and up
    @include susy-breakpoint($screen-sm, $susy) {
      width:75%;
      max-width: calc(105 * var(--space-medium)); // 75% of calc(140 * var(--space-medium)) (100%) //TODO check how this works with clamp
      margin:0 auto;
    }
  }

  .quote {

    h1, h2, h3, h4, h5 {
      font-size: calc(calc(2 * var(--space-medium)) / 1.6); // the quote text
      padding-bottom: calc(calc(2.5 * var(--space-medium)) / 1.6);
      text-transform: none;
    }

    p {
      &:first-child {
        @include Equinor-Medium;
        font-size: calc(calc(2.5 * var(--space-medium)) / 1.6); // the quote text
        padding-bottom: 0;
        text-transform: none;

        i {
          font-size: calc(calc(2 * var(--space-medium)) / 1.6); // the quote text
          padding-bottom: calc(calc(2.5 * var(--space-medium)) / 1.6);
          text-transform: none;
        }
      }
    }

    p:not(:first-child) {
      @include Equinor-Bold-italic;
      font-size: calc(calc(1.5 * var(--space-medium)) / 1.6); // make the signature a bit smaller than the quote text
      padding-bottom: calc(var(--space-medium) / 1.6);
      font-style: normal;
      &:before {
        content: '- ';
      }
    }

    &.right:before {
      left: auto;
      right: calc(calc(-0.7 * var(--space-medium)) / 1.6);
      text-align: right;
    }
  }

  @include susy-breakpoint($screen-sm, $susy) {
    .textcolumns2 {
      column-count: 2;
      column-gap: calc(calc(2 * var(--space-medium)) / 1.6); // TODO check clamp here
    }
  }
  .number { color:#9C9C9C; }

  .peoplequote {
      margin-left: auto;
      margin-right: auto;
      width:auto;
      text-align:center;
      max-width:calc(calc(40 * var(--space-medium)) / 1.6);
      background: #EFEFEF;
      background-color: #eee;
      border-bottom: calc(0.01 * var(--space-medium)) solid #999;
      font-size: calc(calc(2.4 * var(--space-medium)) / 1.6);
      line-height: calc(calc(2.4 * var(--space-medium)) / 1.6);
      padding-bottom: calc(var(--space-medium) / 1.6);
      padding: calc(calc(1.2 * var(--space-medium)) / 1.6) calc(calc(2.4 * var(--space-medium)) / 1.6);
      position: relative;
      display: block;
      margin-bottom: calc(2 * var(--space-medium));

    &:after {
        color:#EFEFEF;
        border-left: var(--space-medium) solid transparent;
        border-right: var(--space-medium) solid transparent;
        border-top: var(--space-medium) solid #eee;
        bottom: calc(-1 * var(--space-medium));
        content: '';
        left: 50%;
        margin-left: -10px;
        position: absolute;
    }
  }

  .faq {

    h1, h2, h3, h4 {
      @include Equinor-Medium-italic;
      color: $secondary-color;
    }
  }
}
