.colctrl-2c,
.colctrl-3c,
.colctrl-4c,
.colctrl-5c,
.colctrl-7c,
.colctrl-2c-wideleft,
.colctrl-2c-wideright,
.cq-colctrl-default {

   &.magenta-promo,
   &.blue-promo,
   &.mid-grey-promo,
   &.dark-grey-promo,
   &.primary-100,
   &.slate-blue,
   &.heritage-red {
     .section.title { color: $white; }
   }
}

.section.title {
  @include span(12 nest);
  max-width: calc(140 * var(--space-medium));
  margin: 0 auto;
  float:none;

  .component-container > h1,h2,h3,h4,h5,h6 { margin-bottom: calc(0.25 * var(--space-medium)); }

}

.title{
  .primary-color{
    color: $primary-color;
  }
  .secondary-color{
    color: $secondary-color;
  }
}
