.video {
  display: inline-block;
  width: 100%;
  height:100%;
  position:relative;

  .videoplayer {
    @include span(12 nest);
    object-fit: cover;
  }

  .videoplayer_play {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    @include susy-breakpoint($screen-xs, $susy) { margin: calc(-6 * var(--space-medium)) 0 0 calc(-6 * var(--space-medium)); }
    @include susy-breakpoint($screen-sm, $susy) { margin: calc(-7 * var(--space-medium)) 0 0 calc(-7 * var(--space-medium)); }
    @include susy-breakpoint($screen-lg, $susy) { margin: calc(-10 * var(--space-medium)) 0 0 calc(-10 * var(--space-medium)); }



    svg {
      @include susy-breakpoint($screen-xs, $susy) {
        cursor: pointer;
        width: calc(12 * var(--space-medium));
        height: calc(12 * var(--space-medium));
      }

      @include susy-breakpoint($screen-sm, $susy) {
        cursor: pointer;
        width: calc(14 * var(--space-medium));
        height: calc(14 * var(--space-medium));
      }

      @include susy-breakpoint($screen-lg, $susy) {
        cursor: pointer;
        width: calc(20 * var(--space-medium));
        height: calc(20 * var(--space-medium));
      }
      }

      circle {
        stroke-opacity: 0.4;
        stroke-width: calc(2.5 * var(--space-medium));
        fill: transparent;
        stroke: #ffffff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 20;
      }

      g > polygon {
        fill: #ffffff;
        fill-opacity: 0.9;
      }
    }
  }

  .colctrl-2c .videoplayer_play .svg{
    @include susy-breakpoint($screen-lg, $susy) {
      cursor: pointer;
      width: calc(15 * var(--space-medium));
      height: calc(15 * var(--space-medium));
    }
  }
  .colctrl-3c .videoplayer_play .svg{
    @include susy-breakpoint($screen-lg, $susy) {
      cursor: pointer;
      width: calc(12 * var(--space-medium));
      height: calc(12 * var(--space-medium));
    }

  .colctrl-2c .videoplayer_play{
    @include susy-breakpoint($screen-lg, $susy) { margin: calc(-8 * var(--space-medium)) 0 0 calc(-8 * var(--space-medium)); }
  }
  .colctrl-3c .videoplayer_play{
    @include susy-breakpoint($screen-lg, $susy) { margin: calc(-6 * var(--space-medium)) 0 0 calc(-6 * var(--space-medium)); }
  }
}

.banner-video {
    video::-webkit-media-controls-start-playback-button {
      display: none!important;
      -webkit-appearance: none;
    }
    svg {

        cursor: pointer;
        bottom: 50%;
        display: none;
        visibility: visible;
        height: 25%;
        left: 50%;
        position: absolute;
        top:50%;
        transform: translate(-50%, -50%);
        width: 30%;
        @include susy-breakpoint(0 $screen-sm, $susy) {
          display: block;
          visibility: hidden;
        }
    }

    @include susy-breakpoint(0 $screen-sm, $susy) {
      video[controls="controls"] + svg {
        display: block;
        visibility: hidden;
      }
    }

    circle {
        cursor: pointer;
        fill: transparent;
        stroke: #ffffff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 20;
        stroke-opacity: 0.4;
        stroke-width: calc(var(--space-medium)/1.6);
    }

    polygon {
        fill: #ffffff;
        fill-opacity: 0.9;
    }
}
