.visuallist {
  &-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 0;
  }
  &-item {
    position: relative;
    width: calc((100%)/3);
    flex-grow: 0;
    flex-shrink: 0;
    font-size: calc(2.2 * var(--space-medium));
    font-weight: 500;
    line-height: 1.4em;
    border: 1.5px solid transparent;
    overflow: hidden;

    &.has-link:hover {
      img {
        transform: scale(1.05);
      }
      cursor: pointer;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .3s;
    }
    @include susy-breakpoint(0 $screen-sm, $susy) {
      width: 90%;
      border: 1.5px solid transparent;
    }
    @include susy-breakpoint($screen-sm, $susy) {
      &:first-child:nth-last-child(2), &:last-child:nth-child(2) {
        width: 50%;
      }
      &:first-child:last-child {
        width: 100%;
      }
    }
  }
  &-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    padding-bottom: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    color: white;
    white-space: normal;

    &.slate-blue, &.slate-blue a {
      color: $primary-link-color;
    }

    a {
      font-size: calc(1.6 * var(--space-medium));
      color: white;
      margin-top: 24px;
      text-decoration-color: $primary-color;
      &:hover {
        text-decoration: underline $primary-color;
      }
    }
  }
}
