@mixin link-button() {
  overflow: visible; // Shrinkwrap the text in IE7-
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal; // Override line-height to avoid spacing issues
  cursor: pointer;
  -moz-user-select: text; // Make button text selectable in Gecko
}

button {
  @include link-button();
}


body[data-whatinput=mouse] button:focus,
body[data-whatinput=touch] button:focus {
  outline: none;
}
