 %listitemstyle {
  li {
    padding-bottom:calc(1.2rem / 1.6);
    line-height:calc(2.4rem / 1.6);

    @include susy-breakpoint($screen-sm, $susy) {
      padding-bottom: calc(1.2rem / 1.6);
      line-height: calc(2.8rem / 1.6);
     }

    @include susy-breakpoint($screen-md, $susy) {
      padding-bottom: calc(1.2rem / 1.6);
      line-height: calc(3.2rem / 1.6);
     }
  }
 }
 
 ul {
  margin: calc(1rem / 1.6) 0 calc(1rem / 1.6) 0;
  list-style: disc outside;

  @extend %listitemstyle;
}

ol {
  margin: calc(1rem / 1.6) 0 calc(1rem / 1.6) 0;
  list-style-type: decimal;
  padding-left: calc(2.5rem / 1.6);

  @extend %listitemstyle;
}


.page-container, .news-page {

  .text-content {

    ul {
      margin: 0;
      list-style-type: none;

      li {
        padding-bottom: 0;
      }

      li:before { // make the bullet points 50% smaller than default
        content: '\2022';
        font-size: calc(3.6rem / 1.6);
        vertical-align: sub;
        padding-right: calc(1rem / 1.6);
        margin-left: calc(-2.5rem / 1.6); // vertical align the ul-bullets with ol-numbers
      }
    }

    ol { margin: 0;
      li { padding-bottom: 0; }
    }

  }

}
