.archive {
  .article {

    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;

    // Add padding on each side
    @include susy-breakpoint($screen-xs, $susy) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include susy-breakpoint($screen-sm, $susy) {
      padding-left: 10rem;
      padding-right: 10rem;
    }

    @include susy-breakpoint($screen-md, $susy) {
      padding-left: 15rem;
      padding-right: 15rem;
    }

    font-size: 2rem;
    line-height: 3.2rem;

    img {
      display: block;
      margin-bottom: 2rem;
    }

    h1 {
      text-align: left;
      padding-top: 0;
    }

    .artImgBig {
      width: 100%;
      margin-top: 1rem;
      img {
        width: 100%;
      }
      p {
        width: 100%;
        float: left;
        font-size: 1.5rem;
        line-height: 2.6rem;
        @include Equinor-Light;
        color: #565656;

        &:before {
          color: $primary-color;
          content: $fa-var-camera;
          margin-right: 1rem;
          display: inline-block;
          font: normal normal normal #{$fa-font-size-base}/1 FontAwesome; // shortening font declaration
          font-size:1.7rem; // can't have font-size inherit on line above, so need to override
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0); // ensures no half-pixel rendering in firefox
        }
      }
    }
    .artImgInline:not(.artImgBig),.artImgInlineLeft:not(.artImgBig) {
      float: left;
      width: 30%;
      padding: 1rem;
      margin: 0rem 4rem 1rem -1rem;

      img {
        width: 100%;
      }

      p {
        width: 100%;
        float: left;
        font-size: 1.5rem;
        line-height: 2.6rem;
        @include Equinor-Light;
        color: #565656;

      }
    }
  }
}

ul.downloads {
  padding: 0;
  list-style-type: none;
}
