.mfp-slide .mfp-ajax-holder .mfp-content {
    width: 90rem;
    height: 100%;
    overflow: auto;
    .content {
      max-height: 100%;

    }

    .mfp-close {
      position: fixed;
    }
}

.mfp-slide.mfp-bg {
  opacity: 0;
  background-color: $white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-slide.mfp-bg.mfp-ready {
  opacity: 0.7;
}
/* overlay animate out */
.mfp-slide.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-slide.mfp-wrap .mfp-content {
  right: -90rem;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* content animate it */
.mfp-slide.mfp-wrap.mfp-ready .mfp-content {
  right: 0;
}
/* content animate out */
.mfp-slide.mfp-wrap.mfp-removing .mfp-content {
  right: -90rem;
}