.request-consent-container {
  background-color: $primary-color-15;
  border-radius: 4px;
  @include Equinor-Medium;
  color: $slate-blue;
  text-align: center;

  p {
    &.request-consent-text {
      padding: calc(calc(1.5 * var(--space-medium))/1.6) calc(calc(1.5 * var(--space-medium))/1.6);
      @include susy-breakpoint($screen-md, $susy) {
        padding: calc(calc(1.5 * var(--space-medium))/1.6) calc(calc(6.5 * var(--space-medium))/1.6);
      }
    }
  }
}

.spruce-wood .request-consent-container {
  background-color: $special-slate-blue-tint;
  color: $white;
  a {
    color: $white;
  }
}

  .colctrl-2c .request-consent-container {
    p {
      &.request-consent-text {
        @include susy-breakpoint($screen-md, $susy) {
          font-size: calc(calc(1.8 * var(--space-medium))/1.6);
          line-height: calc(calc(2.8 * var(--space-medium))/1.6);
          padding: calc(calc(1.5 * var(--space-medium))/1.6) calc(calc(1.5 * var(--space-medium))/1.6);
        }
      }
    }
  }

  .colctrl-3c .request-consent-container {
    p {
      &.request-consent-text {
        @include susy-breakpoint($screen-md, $susy) {
          font-size: calc(calc(1.6 * var(--space-medium))/1.6);
          line-height: calc(calc(2.5 * var(--space-medium))/1.6);
          padding: calc(calc(1.5 * var(--space-medium))/1.6) calc(calc(1.5 * var(--space-medium))/1.6);
        }
      }
    }
  }
