.request-consent-container {
  background-color: $primary-color-15;
  border-radius: 4px;
  @include Equinor-Medium;
  color: $slate-blue;
  text-align: center;

  .spruce-wood & {
    background-color: $special-slate-blue-tint;
    color: $white;
    a {
      color: $white;
    }
  }

  p {
    &.request-consent-text {
      padding: calc(1.5rem/1.6) calc(1.5rem/1.6);
      @include susy-breakpoint($screen-md, $susy) {
        padding: calc(1.5rem/1.6) calc(6.5rem/1.6);
      }
    }
  }

  .colctrl-2c & {
    p {
      &.request-consent-text {
        @include susy-breakpoint($screen-md, $susy) {
          font-size: calc(1.8rem/1.6);
          line-height: calc(2.8rem/1.6);
          padding: calc(1.5rem/1.6) calc(1.5rem/1.6);
        }
      }
    }
  }

  .colctrl-3c & {
    p {
      &.request-consent-text {
        @include susy-breakpoint($screen-md, $susy) {
          font-size: calc(1.6rem/1.6);
          line-height: calc(2.5rem/1.6);
          padding: calc(1.5rem/1.6) calc(1.5rem/1.6);
        }
      }
    }
  }
}