//  Statoil Display Font
//  ---------------------------------------------------------------------------------------

$brand-font: 'Equinor';
$fallback-fonts: 'Lucida Sans', 'Lucida Sans Unicode', 'Lucida Grande', Lucida, Arial, Helvetica, sans-serif;
$default-font-family: $brand-font, $fallback-fonts;

// Commenting Equinor fonts which are actually loaded from envis project
/*@font-face {
  font-family: 'Equinor';
  src:  url(equinor/Equinor-Regular.woff2) format("woff2"),
        url(equinor/Equinor-Regular.woff) format("woff"),
        url(equinor/Equinor-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Equinor';
  src:  url(equinor/Equinor-Italic.woff2) format("woff2"),
        url(equinor/Equinor-Italic.woff) format("woff"),
        url(equinor/Equinor-Italic.ttf) format("truetype");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Equinor';
  src:  url(equinor/Equinor-Light.woff2) format("woff2"),
        url(equinor/Equinor-Light.woff) format("woff"),
        url(equinor/Equinor-Light.ttf) format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Equinor';
  src:  url(equinor/Equinor-LightItalic.woff2) format("woff2"),
        url(equinor/Equinor-LightItalic.woff) format("woff"),
        url(equinor/Equinor-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Equinor';
  src:  url(equinor/Equinor-Medium.woff2) format("woff2"),
        url(equinor/Equinor-Medium.woff) format("woff"),
        url(equinor/Equinor-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Equinor';
  src:  url(equinor/Equinor-MediumItalic.woff2) format("woff2"),
        url(equinor/Equinor-MediumItalic.woff) format("woff"),
        url(equinor/Equinor-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Equinor';
  src:  url(equinor/Equinor-Bold.woff2) format("woff2"),
        url(equinor/Equinor-Bold.woff) format("woff"),
        url(equinor/Equinor-Bold.ttf) format("truetype");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Equinor';
  src:  url(equinor/Equinor-BoldItalic.woff2) format("woff2"),
        url(equinor/Equinor-BoldItalic.woff) format("woff"),
        url(equinor/Equinor-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
*/

@mixin Equinor-Light {
  font-weight: 300;
  strong,
  b {
    font-weight: 400;
  }
}

@mixin Equinor-Light-italic {
  font-weight: 300;
  font-style: italic;
  strong,
  b {
    font-weight: 400;
  }
}

@mixin Equinor-Regular {
  font-weight: 400;
  strong,
  b {
    font-weight: 500;
  }
}

@mixin Equinor-Regular-italic {
  font-weight: 400;
  font-style: italic;
  strong,
  b {
    font-weight: 500;
  }
}

@mixin Equinor-Medium {
  font-weight: 500;
  strong,
  b {
    font-weight: 700;
  }
}

@mixin Equinor-Medium-italic {
  font-weight: 500;
  font-style: italic;
  strong,
  b {
    font-weight: 700;
  }
}

@mixin Equinor-Bold {
  font-weight: bold;
}

@mixin Equinor-Bold-italic {
  font-weight: bold;
  font-style: italic;
}

/* Commented out because of not in use
  @include font-face('Equinor',
      font-files(
        'equinor/Equinor-BoldItalic.ttf',
        'statoil/Equinor-BoldItalic.otf',
        'statoil/Equinor-BoldItalic.woff2',
        'statoil/Equinor-BoldItalic.woff',
        'statoil/Equinor-BoldItalic.svg'
      ),
      bold,
      italic
  );
*/

//Equinor Icons font
@font-face {
  font-family: 'equinor_icons';
  src: url('../static/fonts/equinor_icons.woff') format('woff');
  font-display: swap;
}
