.container {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-content {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 2rem;
}

.title {
  margin: 0;
  font-size: 4rem;
}

.subtitle {
  font-size: 2.5rem;
  margin-top: 1em;
}
