$blureffect: calc(0.8 * var(--space-medium));
$blur-duration: 0.3s;

@mixin blur-mixin($rems) {
  filter: blur($rems);
}

body:not(.edge):not(.ie) {
  .blur-in {
    overflow: hidden; // Hide the main scrollbar when modal is active
  }
}
