
.custom-dropdown {
  @include Equinor-Medium-italic;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #ffffff;
  position: relative;
  width:100%;
  font-weight: 500;
  z-index: 0;

  .button {
    z-index:-1;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(5 * var(--space-medium));
    height: 100%;
    color: #bbb;
    border-left: 1px solid #ccc;
    text-align: center;
    font: 0/0 a;
    *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;

    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: #bbb;
      border-bottom: none;
    }
  }
}

.custom-dropdown:hover {
  border-color: #ccc;

  .button {
    color: #ddd;

    &:after {
      border-top-color: #ccc;
    }
  }
}


.custom-dropdown-items{
    top: 100%;
    left: 0;
    width:100%;
    background: #fff0;
    border: 0px solid #ccc;
    appearance: none;
    font-size: calc(1.4 * var(--space-medium));
    color: #666;
    height: calc(3 * var(--space-medium));
    font-style: inherit;
    line-height: calc(3.2 * var(--space-medium));
    padding-left: var(--space-medium);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(1.4 * var(--space-medium));
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    padding-right: calc(3.8 * var(--space-medium));
}





