 %listitemstyle {
  li {
    padding-bottom:calc(calc(1.2 * var(--space-medium)) / 1.6);
    line-height:calc(calc(2.4 * var(--space-medium)) / 1.6);

    @include susy-breakpoint($screen-sm, $susy) {
      padding-bottom: calc(calc(1.2 * var(--space-medium)) / 1.6);
      line-height: calc(calc(2.8 * var(--space-medium)) / 1.6);
     }

    @include susy-breakpoint($screen-md, $susy) {
      padding-bottom: calc(calc(1.2 * var(--space-medium)) / 1.6);
      line-height: calc(calc(3.2 * var(--space-medium)) / 1.6);
     }
  }
 }

 ul {
  margin: calc(var(--space-medium) / 1.6) 0 calc(var(--space-medium) / 1.6) 0;
  list-style: disc outside;

  @extend %listitemstyle;
}

ol {
  margin: calc(var(--space-medium) / 1.6) 0 calc(var(--space-medium) / 1.6) 0;
  list-style-type: decimal;
  padding-left: calc(calc(2.5 * var(--space-medium)) / 1.6);

  @extend %listitemstyle;
}


.page-container, .news-page {

  .text-content {

    ul {
      margin: 0;
      list-style-type: none;

      li {
        padding-bottom: 0;
      }

      li:before { // make the bullet points 50% smaller than default
        content: unquote('"\2022"');
        font-size: calc(calc(3.6 * var(--space-medium)) / 1.6);
        vertical-align: sub;
        padding-right: calc(var(--space-medium) / 1.6);
        margin-left: calc(calc(-2.5 * var(--space-medium)) / 1.6); // vertical align the ul-bullets with ol-numbers
      }
    }

    ol { margin: 0;
      li { padding-bottom: 0; }
    }

  }

}
