
$statoil-blue: #40537d;
$statoil-highlight-bluedark:#D8E1E6;
$statoil-highlight-blue:#E9EEF1;

.magazine-content {

  
  .filter-options1 {
    text-align:center;
    
    .filter {
      border: 1px solid #41547C;
      background-color:#E9EEF1;

      &.active {
        background-color: #41547C;
        color:white;
      }
    }
  }

  .topcarousel {
   @include susy-breakpoint($screen-xl, $susy) { max-width: 100%; }
   .carousel {
    .prev,.next {
      z-index:1;
      font-size: 8rem;
      color:white;
    }

     h2,h3 {
       color: $white;
       text-shadow: .1rem .1rem 0 rgba(0,0,0,.75);
     }

    .carousel-wrap {
     width: 100%;
     margin-left: 0;

     li {

      figure {
       width: 100%;
       margin-left: 0;
       margin-right: 0;
       position: relative;

       figcaption {
         position:absolute;
         right:7rem;
         width:80%;
         height:60%;

          @include susy-breakpoint($screen-xs, $susy) { top:40%; }

           @include susy-breakpoint($screen-sm, $susy) {
             top:20%;
             width:50%;
           }

           @include susy-breakpoint($screen-md, $susy) { top:35%; }

        h3 {
          font-size: 1.6rem;
          text-align:right;
        }

        .title-icon {
          @include span(12 nest);
          .icon-content{
            @include span(2 nest);
            float:right;
          }

          h2 {
            @include span(7 nest);
            margin:0;
            text-align: right;
            float: right;
            margin-bottom:1.5rem;
            @include susy-breakpoint($screen-xs, $susy) { font-size:2.5rem; }
            @include susy-breakpoint($screen-sm, $susy) { font-size:3rem; }
            @include susy-breakpoint($screen-md, $susy) { font-size:5rem; }
          }
        }

        p {
          color: white;
          text-shadow: .1rem .1rem 0 rgba(0,0,0,.75);
          text-align:right;
          padding: 0;
          display: inline-block;
          float: right;

           @include susy-breakpoint($screen-xs, $susy) { display:none; }

           @include susy-breakpoint($screen-sm, $susy) {
             max-width: 65%;
             font-size:2.1rem;
             display:block;
            }

            @include susy-breakpoint($screen-md, $susy) { top:35%; }
        }

       }
      }
     }
    }
   }
  }
}
