.news-content {
  .news-page {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .header {
      margin: 0 auto;

      // Add padding on each side
      @include susy-breakpoint($screen-xs, $susy) {
        padding-left: calc(3rem / 1.6);
        padding-right: calc(3rem / 1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        padding-left: calc(10rem / 1.6);
        padding-right: calc(10rem / 1.6);
      }

      @include susy-breakpoint($screen-md, $susy) {
        padding-left: 15rem;
        padding-right: 15rem;
      }

      h1 {
        text-align: left;
        padding: 0rem 1.66666%;
      }

      .date {
        padding: 0 1.66666% 0.5rem;
      }
    }

    .parsys_column.cq-colctrl-default-c0,
    .parsys_column.colctrl-2c,
    .parsys_column.colctrl-2c-wideleft,
    .parsys_column.colctrl-2c-wideright,
    .parsys_column.colctrl-3c,
    .parsys_column.colctrl-4c,
    .parsys_column.colctrl-5c,
    .parsys_column.colctrl-6c,
    .parsys_column.colctrl-7c {

      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;

      // Add padding on each side
      @include susy-breakpoint($screen-xs, $susy) {
        padding-left: calc(3rem / 1.6);
        padding-right: calc(3rem / 1.6);
      }

      @include susy-breakpoint($screen-sm, $susy) {
        padding-left: calc(10rem / 1.6);
        padding-right: calc(10rem / 1.6);
      }

      @include susy-breakpoint($screen-md, $susy) {
        padding-left: 15rem;
        padding-right: 15rem;
      }

    }

    .image .figure-module { margin-bottom: 3rem; }

  }
}
