.textimage {
    display: inline-block;
    width: 100%;


    .textimage-right {
        @include span(6);
        a{
            width:inherit;
            display:inline-block;
            img{
                width:inherit;
            }
         }
         float: right!important;
    }

    .textimage-left{
        float: left;
        @include span(6);
        a{
            width:inherit;
            display:inline-block;
            img{
            width:inherit;
            }
        }
    }

    .textimage-text{
      @include span(6);
    }
}
