 :root{ 
      
    --typeScale-00: clamp(calc(11.11 / 16 * 1rem), 0.19vw + 0.65rem, calc(14.08 / 16 * 1rem));
    --typeScale-0: clamp(calc(13.33 / 16 * 1rem), 0.28vw + 0.77rem, calc(17.60 / 16 * 1rem));
    --typeScale-05: clamp(calc(14.61 / 16 * 1rem), 0.33vw + 0.84rem, calc(19.68 / 16 * 1rem));
    --typeScale-1: clamp(calc(16.00 / 16 * 1rem), 0.39vw + 0.91rem, calc(22.00 / 16 * 1rem));
    --typeScale-2: clamp(calc(19.20 / 16 * 1rem), 0.54vw + 1.07rem, calc(27.50 / 16 * 1rem));
    --typeScale-3: clamp(calc(23.04 / 16 * 1rem), 0.73vw + 1.27rem, calc(34.38 / 16 * 1rem));
    --typeScale-4: clamp(calc(27.65 / 16 * 1rem), 0.99vw + 1.5rem, calc(42.97 / 16 * 1rem));
    --typeScale-4_5: clamp(calc(33.73 / 16 * 1rem), 1.38vw + 1.785rem, calc(55.055 / 16 * 1rem));
    --typeScale-5: clamp(calc(39.81 / 16 * 1rem), 1.77vw + 2.07rem, calc(67.14 / 16 * 1rem));
    --typeScale-6: clamp(calc(45.89 / 16 * 1rem), 2.16vw + 2.355rem, calc(79.225 / 16 * 1rem));
    --typeScale-7: clamp(calc(51.97 / 16 * 1rem), 2.55vw + 2.64rem, calc(91.31 / 16 * 1rem));

    
    --typeScale-small: var(--typeScale-00);
    
    
    --space-xSmall : calc( 4 / 16 * var(--typeScale-1));
    --space-small  : calc( 8 / 16 * var(--typeScale-1));
    --space-medium : calc(16 / 16 * var(--typeScale-1));
    --space-large  : calc(24 / 16 * var(--typeScale-1));
    --space-xLarge : calc(32 / 16 * var(--typeScale-1));
    --space-xxLarge: calc(40 / 16 * var(--typeScale-1));
    --space-3xLarge: calc(56 / 16 * var(--typeScale-1));
    --space-4xLarge: calc(96 / 16 * var(--typeScale-1));
 }