.radio {
  opacity: 0;
  position: absolute;
  &:focus + label {
    outline: #2276fc auto 1px;
    border-radius: 0;
  }
  &:checked + label div {
    background-color: rgba(34, 118, 252, 0.15);
  }
}

.svg {
  stroke: #3d3d3d;
  stroke-width: 2;
  fill: #3d3d3d;
}
