name: Set up Azure environment
on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Please type the environment to deploy. Allowed values "dev" or "prod"'
        type: string
        required: true

env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Login to azure
        id: login-to-azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.ENVIS_ACTIONS_SERVICE_PRINCIPAL }}
          allow-no-subscriptions: true
      - name: Show Azure account
        run: az account show
      # Checkout internal repository where the bicep files are located
      - name: Checout internal
        id: checkout-internal
        uses: actions/checkout@v4
        with:
          repository: 'equinor/energyvision-internal'
          ref: main
          token: ${{ secrets.PADMS_PAT }}
      # Do the actual deployment
      - name: deploy
        id: deploy
        uses: azure/arm-deploy@v1
        with:
          scope: subscription
          region: northeurope
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
          template: ci/biceps/main.bicep
          parameters: 'location=northeurope env=${{ inputs.env }}'
          failOnStdErr: false
      - name: log-errors-to-slack
        uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: failure()
