name: Notify on wiki updates
on:
  gollum
permissions:
  contents: read
jobs:
  check_for_updates:
    runs-on: ubuntu-latest
    steps:
      - name: Wiki Notifier
        uses: benmatselby/gollum-page-watcher-action@v1.5.0
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_CHANNEL: envis-commits
          SLACK_USERNAME: GitHub