# === Sanity ===

# You'll find this in the sanity.json file
NEXT_PUBLIC_SANITY_PROJECT_ID=h61q9gi9
# The dataset maps to available languages in the languages.js file
NEXT_PUBLIC_SANITY_DATASET=production

# Brandmaster email subscription
BRANDMASTER_EMAIL_APN_ID=
BRANDMASTER_EMAIL_AUTHENTICATION_URL=
BRANDMASTER_EMAIL_SUBSCRIPTION_URL=
BRANDMASTER_EMAIL_CLIENT_SECRET=
BRANDMASTER_EMAIL_OTY_ID=
BRANDMASTER_EMAIL_PASSWORD=
BRANDMASTER_EMAIL_PTL_ID=

